input, textarea {
  border: 1px solid transparent; }
  input:hover, textarea:hover {
    border: 1px solid #878787; }
  input:focus, textarea:focus {
    border: 1px solid #fefe9a; }
  input:active, textarea:active {
    border: 1px solid #fefe9a; }

.v_error {
  color: #d62525; }

input.valid {
  border-color: #529f00; }

input.not-valid {
  border-color: #d62525; }

.valid + .textinput-icons .icon-valid {
  color: #529f00; }

.not-valid + .textinput-icons .icon-not-valid {
  color: #d62525; }

.sticker {
  color: #ffffff;
  font-weight: bold;
  }

.top-line {
  background: #f0f0f0; }
  .top-line .mobile-trigger-wrapper {
    background: #000000; }

.asterisk-required {
  color: #d31616; }

.account-authorized, .account-not-authorized {
  background: #000000; }

.account-authorized, .account-not-authorized {
  color: #ffffff; }
  .account-authorized .btn-login:before, .account-not-authorized .btn-login:before {
    color: #ffffff !important; }
  .account-authorized .btn-login:hover:before, .account-authorized .btn-login:active:before, .account-authorized .btn-login:focus:before, .account-not-authorized .btn-login:hover:before, .account-not-authorized .btn-login:active:before, .account-not-authorized .btn-login:focus:before {
    color: #878787 !important; }

.sitenav__link {
  color: #000000; }
  .sitenav__link:hover {
    color: #2cb55d; }
  .sitenav__link:focus {
    color: #878787; }

.main-carousel-nav {
  background: rgba(255, 255, 255, 0.65); }

.btn-silver {
  background: #000000;
  color: #ffffff; }
  .btn-silver:active, .btn-silver:focus {
    background: #36383e; }
  .btn-silver:hover {
    background: #fefe9a;
    color: #000000; }

.quantity-input {
  background: #f0f0f0;
  color: #000000; }

.account-authorized a, .account-not-authorized a {
  color: #ffffff; }
  .account-authorized a:before, .account-not-authorized a:before {
    color: #2cb55d; }
  .account-authorized a:hover, .account-authorized a:active, .account-authorized a:focus, .account-not-authorized a:hover, .account-not-authorized a:active, .account-not-authorized a:focus {
    color: #878787; }
.account-authorized .name, .account-not-authorized .name {
  color: #ffffff; }
  .account-authorized .name:hover, .account-authorized .name:active, .account-authorized .name:focus, .account-not-authorized .name:hover, .account-not-authorized .name:active, .account-not-authorized .name:focus {
    color: #878787; }
.account-authorized .people-rating, .account-authorized .statistic, .account-not-authorized .people-rating, .account-not-authorized .statistic {
  color: #ffffff; }
  .account-authorized .people-rating:before, .account-authorized .statistic:before, .account-not-authorized .people-rating:before, .account-not-authorized .statistic:before {
    color: #2cb55d; }
  .account-authorized .people-rating:hover, .account-authorized .people-rating:hover:before, .account-authorized .people-rating:active, .account-authorized .people-rating:active:before, .account-authorized .people-rating:focus, .account-authorized .people-rating:focus:before, .account-authorized .statistic:hover, .account-authorized .statistic:hover:before, .account-authorized .statistic:active, .account-authorized .statistic:active:before, .account-authorized .statistic:focus, .account-authorized .statistic:focus:before, .account-not-authorized .people-rating:hover, .account-not-authorized .people-rating:hover:before, .account-not-authorized .people-rating:active, .account-not-authorized .people-rating:active:before, .account-not-authorized .people-rating:focus, .account-not-authorized .people-rating:focus:before, .account-not-authorized .statistic:hover, .account-not-authorized .statistic:hover:before, .account-not-authorized .statistic:active, .account-not-authorized .statistic:active:before, .account-not-authorized .statistic:focus, .account-not-authorized .statistic:focus:before {
    color: #ffffff; }
.account-authorized .btn-logout, .account-not-authorized .btn-logout {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.5); }
  .account-authorized .btn-logout span:hover, .account-authorized .btn-logout span:active, .account-authorized .btn-logout span:focus, .account-not-authorized .btn-logout span:hover, .account-not-authorized .btn-logout span:active, .account-not-authorized .btn-logout span:focus {
    color: #878787; }

.logo__text span:first-child {
  color: #2cb55d; }
.logo__text span:last-child {
  color: #000000; }

.location span {
  color: #0054ff;
  border-bottom: 1px dotted rgba(0, 84, 255, 0.5); }
.location:hover span, .location:active span, .location:focus span {
  color: #36383e;
  border-bottom: 1px dotted rgba(54, 56, 62, 0.5); }
.location i {
  color: #000000; }

.header .search {
  background: #f0f0f0; }
.header .search__input {
  color: #000000;
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff; }
  .header .search__input:hover, .header .search__input:focus, .header .search__input:active {
    border-color: #878787; }
  .header .search__input:focus {
    border-color: #fefe9a; }
.header .btn {
  color: #000000;
  background: #c7c7c7; }
.header .dropdown-menu {
  border: 5px solid #f0f0f0; }
  .header .dropdown-menu li a {
    color: #000000; }
    .header .dropdown-menu li a:hover, .header .dropdown-menu li a:focus, .header .dropdown-menu li a:active {
      color: #878787 !important; }
.header .btn-group.open .dropdown-toggle {
  background: #fefe9a;
  color: #000000;
  box-shadow: none; }
.header .phone {
  color: #ffffff;
  background: #25c5e2; }
  .header .phone:hover {
    background: #4fd8f1; }
  .header .phone:active, .header .phone:focus {
    background: #24b4ce; }
.header .mail span {
  color: #0054ff;
  border-bottom: 1px solid rgba(0, 84, 255, 0.5); }
.header .mail:before {
  color: #36383e; }
.header .mail:hover span, .header .mail:focus span, .header .mail:active span {
  color: #36383e;
  border-bottom: 1px solid transparent; }
@media (max-width: 767px) {
  .header .mail {
    background: #25c5e2; }
    .header .mail:before {
      color: #ffffff; }
    .header .mail:hover {
      background: #4fd8f1; }
    .header .mail:active {
      background: #24b4ce; } }
.header .small-basket {
  color: #36383e;
  background: #f0f0f0; }
.header .basket-icon {
  background: #fefe9a; }

.catalog-menu {
  background: #000000; }

.main-menu > li > a {
  color: #ffffff; }
  .main-menu > li > a:after {
    border-top: 5px solid #ffffff; }
.main-menu > li.hover > a {
  color: #000000;
  background: #fefe9a; }
  .main-menu > li.hover > a:after {
    border-top: 5px solid #000000; }
.main-menu .submenu-wrap {
  background: #ffffff;
  border: 5px solid #f0f0f0; }
.main-menu .brands-search {
  color: #878787;
  border: 1px solid #d9d9d9; }
  .main-menu .brands-search:hover {
    border-color: #878787; }
  .main-menu .brands-search:focus, .main-menu .brands-search:active {
    border-color: #fefe9a; }
.main-menu .search-icon {
  color: #878787; }
.main-menu .all-brands-link {
  color: #214af0; }
.main-menu .jspTrack {
  background: #f0f0f0; }
.main-menu .jspDrag.jspActive {
  background: #19a24a !important; }

.catalog-menu-brands a {
  color: #000000; }
  .catalog-menu-brands a:hover, .catalog-menu-brands a:focus, .catalog-menu-brands a:active {
    color: #aeaeae; }

.navgroup a {
  color: #000000; }
  .navgroup a:hover, .navgroup a:focus, .navgroup a:active {
    color: #2cb55d; }
.navgroup .navlist__item.active .navlist__span {
  color: #2cb55d; }

.catalog-menu__more {
  color: #f0f0f0;
  background: #2cb55d; }
  .catalog-menu__more > a {
    color: #f0f0f0;
    background: #2cb55d; }
    .catalog-menu__more > a:hover, .catalog-menu__more > a:focus, .catalog-menu__more > a:active {
      color: #f0f0f0;
      background: #49d97d; }
    .catalog-menu__more > a:active {
      color: #f0f0f0;
      background: #19a24a; }
  .catalog-menu__more .submenu-wrap {
    background: #ffffff;
    border: 5px solid #f0f0f0; }
    .catalog-menu__more .submenu-wrap a {
      color: #000000; }
      .catalog-menu__more .submenu-wrap a:hover, .catalog-menu__more .submenu-wrap a:focus, .catalog-menu__more .submenu-wrap a:active {
        color: #2cb55d; }

.catalog .not-available .availability, .catalog-hits .not-available .availability {
  color: #62646f; }
.catalog .not-available .buy__button, .catalog .not-available .set-aside, .catalog-hits .not-available .buy__button, .catalog-hits .not-available .set-aside {
  background: none #d9d9d9;
  color: #878787; }
  .catalog .not-available .buy__button:hover, .catalog .not-available .set-aside:hover, .catalog-hits .not-available .buy__button:hover, .catalog-hits .not-available .set-aside:hover {
    background: #c7c7c7;
    color: #878787; }
    .catalog .not-available .buy__button:hover .set-aside, .catalog .not-available .set-aside:hover .set-aside, .catalog-hits .not-available .buy__button:hover .set-aside, .catalog-hits .not-available .set-aside:hover .set-aside {
      background: none;
      color: #878787; }
      .catalog .not-available .buy__button:hover .set-aside:before, .catalog .not-available .set-aside:hover .set-aside:before, .catalog-hits .not-available .buy__button:hover .set-aside:before, .catalog-hits .not-available .set-aside:hover .set-aside:before {
        background: none;
        color: #878787; }
.catalog .not-available .set-aside:before, .catalog-hits .not-available .set-aside:before {
  background: #d9d9d9; }

.catalog-blocks h2 {
  color: #000000; }
.catalog-blocks .product {
  box-shadow: 0 0 29px -9px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 29px -9px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 29px -3px rgba(0, 0, 0, 0.15); }
  .catalog-blocks .product:hover, .catalog-blocks .product:focus, .catalog-blocks .product:active {
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.15); }
.catalog-blocks .main-data {
  background: #f0f0f0; }
.catalog-blocks .photo {
  background: #ffffff;
  }
.catalog-blocks .name a {
  color: #67686d; }
  .catalog-blocks .name a:hover {
    color: #2cb55d; }
.catalog-blocks .price p {
  color: #000000; }
  .catalog-blocks .price p.old-price {
    color: #b0b3c1; }
.catalog-blocks .old-price {
  color: #b0b3c1; }
.catalog-blocks .buy {
  background: #f0f0f0; }
.catalog-blocks .buy__price {
  color: #2cb55d; }
.catalog-blocks .availability {
  color: #29b664; }
  .catalog-blocks .availability:before {
    background: #29b664; }
.catalog-blocks .item__option {
  border-top: 2px solid #f0f0f0;
  border-left: 2px solid #f0f0f0;
  border-right: 2px solid #f0f0f0; }
.catalog-blocks .filter-color .radio input {
  display: none; }
  .catalog-blocks .filter-color .radio input:checked + span {
    border: 2px solid #59616d; }
.catalog-blocks .filter-color .radio:hover span, .catalog-blocks .filter-color .radio:active span, .catalog-blocks .filter-color .radio:focus span {
  border: 2px solid #59616d; }

.favorite__like:hover:before, .favorite__like:active:before, .favorite__like:focus:before, .favorite__compare:hover:before, .favorite__compare:active:before, .favorite__compare:focus:before {
  color: #2cb55d; }
.favorite__like.toggled:before, .favorite__compare.toggled:before {
  color: #2cb55d; }

.product-slider-navigation .carousel-indicators li {
  background: #d8d8d8; }
  .product-slider-navigation .carousel-indicators li.active {
    background: #19a24a; }
  .product-slider-navigation .carousel-indicators li:hover, .product-slider-navigation .carousel-indicators li:active, .product-slider-navigation .carousel-indicators li:focus {
    background: #49d97d; }

.main-news-list__header h2 {
  color: #000000; }

.main-news-list__name {
  background: rgba(0, 0, 0, 0.6); }
  .main-news-list__name:hover {
    background: rgba(0, 0, 0, 0.7); }
  .main-news-list__name a {
    color: #ffffff; }

.main-news-list__img {
  color: #ffffff; }
  .main-news-list__img:hover {
    color: #ffffff; }
    .main-news-list__img:hover .main-news-list__name {
      background: rgba(0, 0, 0, 0.7); }

.advantages--delivery {
  color: #23cdb7;
  border-color: #23cdb7; }

.advantages--savings {
  color: #f6712a;
  border-color: #f6712a; }

.advantages--quality {
  color: #a67ac4;
  border-color: #a67ac4; }

footer {
  background: #000000; }

.footer .logo__text span:last-child {
  color: #ffffff; }

.footer__location {
  color: #f0f0f0; }
  .footer__location span {
    border-bottom: 1px dotted rgba(240, 240, 240, 0.5); }
  .footer__location:hover, .footer__location:active, .footer__location:focus {
    color: #f0f0f0; }
    .footer__location:hover span, .footer__location:active span, .footer__location:focus span {
      border-bottom: 1px dotted transparent; }

.footer__contacts {
  color: #f0f0f0; }
  .footer__contacts .mail {
    color: #1d8bf2; }
    .footer__contacts .mail:before {
      color: #f0f0f0; }

.footer__navigation h4, .footer__subscribe h4 {
  color: #f0f0f0; }

.footer__navlink {
  color: #c7c7c7; }
  .footer__navlink:hover, .footer__navlink:active, .footer__navlink:focus {
    color: #2cb55d; }

.footer__subscribe input {
  border-color: #aeaeae;
  color: #36383e;
  background: #f0f0f0; }
  .footer__subscribe input:hover {
    border-color: #878787;
    border-right: 0; }
  .footer__subscribe input:focus, .footer__subscribe input:active {
    border-color: #fefe9a;
    border-right: 0; }

.footer__social-links, .footer__reviews {
  color: #c7c7c7; }

.developer {
  background: #36383e;
  color: #ffffff; }

.breadcrumbs__link {
  color: #36383e; }
  .breadcrumbs__link:hover, .breadcrumbs__link:active, .breadcrumbs__link:focus {
    color: #878787; }

.breadcrumbs__item span {
  color: #2cb55d; }

.catalog__sort {
  color: #36383e;
  background: #f0f0f0; }
  .catalog__sort .dropdown-menu {
    border: 5px solid #f0f0f0; }

.pagination-item {
  color: #36383e;
  background: #d9d9d9; }
  .pagination-item:hover {
    color: #ffffff;
    background: #49d97d; }
  .pagination-item:active, .pagination-item:focus {
    color: #ffffff;
    background: #19a24a; }
  .pagination-item.to-start, .pagination-item.to-end, .pagination-item.active, .pagination-item.arrow {
    color: #ffffff;
    background: #2cb55d; }
    .pagination-item.to-start:hover, .pagination-item.to-end:hover, .pagination-item.active:hover, .pagination-item.arrow:hover {
      color: #ffffff;
      background: #49d97d; }
    .pagination-item.to-start:active, .pagination-item.to-start:focus, .pagination-item.to-end:active, .pagination-item.to-end:focus, .pagination-item.active:active, .pagination-item.active:focus, .pagination-item.arrow:active, .pagination-item.arrow:focus {
      color: #ffffff;
      background: #19a24a; }

.view-type__link {
  background: #d9d9d9;
  color: #000000; }
  .view-type__link:hover {
    color: #ffffff;
    background: #49d97d; }
  .view-type__link:active, .view-type__link:focus {
    color: #ffffff;
    background: #19a24a; }
  .view-type__link.active {
    background: #2cb55d;
    color: #ffffff; }

.catalog-list .product {
  box-shadow: 0 0 29px -9px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 29px -9px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 29px -3px rgba(0, 0, 0, 0.15); }
  .catalog-list .product:hover, .catalog-list .product:focus, .catalog-list .product:active {
    box-shadow: 0 0 10px 9px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px 9px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 10px 9px rgba(0, 0, 0, 0.15); }
.catalog-list .name a {
  color: #000000; }
.catalog-list .article {
  color: #000000; }
  .catalog-list .article span {
    color: #464853; }
.catalog-list .description {
  color: #000000; }
.catalog-list .availability {
  color: #29b664; }
  .catalog-list .availability.no {
    color: #62646f; }
    .catalog-list .availability.no span:before {
      background: #c7c7c7; }
  .catalog-list .availability span:before {
    background: #29b664; }
.catalog-list .old-price {
  color: #b0b3c1; }
.catalog-list .properties-color .radio input {
  display: none; }
  .catalog-list .properties-color .radio input:checked + span {
    border: 2px solid #59616d; }
.catalog-list .properties-color .radio:hover span, .catalog-list .properties-color .radio:active span, .catalog-list .properties-color .radio:focus span {
  border: 2px solid #59616d; }
.catalog-list .photo-gallery .photo-gallery-image {
  background: #ffffff;
  border: 1px solid #c7c7c7; }
  .catalog-list .photo-gallery .photo-gallery-image:hover {
    border: 1px solid #fefe9a; }

.catalog-table .catalog-item {
  border-color: #f0f0f0; }
  .catalog-table .catalog-item:hover, .catalog-table .catalog-item:active, .catalog-table .catalog-item:focus {
    box-shadow: 0 0 10px 9px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px 9px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 10px 9px rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid transparent; }
.catalog-table .name a {
  color: #000000; }
.catalog-table .availability {
  background: #29b664; }
  .catalog-table .availability.no {
    background: #c7c7c7; }
.catalog-table .old-price {
  color: #b0b3c1; }
.catalog-table .properties-color .radio input {
  display: none; }
  .catalog-table .properties-color .radio input:checked + span {
    border: 2px solid #59616d; }
.catalog-table .properties-color .radio:hover span, .catalog-table .properties-color .radio:active span, .catalog-table .properties-color .radio:focus span {
  border: 2px solid #59616d; }

.shop-deals__header h2 {
  color: #000000; }

.shop-deals-slider .image:before {
  background: rgba(0, 0, 0, 0.45); }
.shop-deals-slider .image:hover:before, .shop-deals-slider .image:active:before, .shop-deals-slider .image:focus:before {
  opacity: 0; }
.shop-deals-slider .image span {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.64); }

.flex-control-nav a {
  background: #d8d8d8 !important; }
  .flex-control-nav a.flex-active {
    background: #2cb55d !important; }

.catalog-filter h2 {
  color: #000000; }

.filter-choose p {
  color: #36383e; }

.chose-item {
  background: #f0f0f0; }
  .chose-item:hover, .chose-item:active, .chose-item:focus {
    background: #fefe9a; }

.filter-block h2 {
  color: #000000;
  border-color: #36383e; }

.filter-block__display {
  background: #2cb55d;
  box-shadow: -11px 2px 0 0 #ffffff; }

.filter-block__content .jspTrack {
  background: #f0f0f0; }
.filter-block__content .jspDrag.jspActive {
  background: #19a24a !important; }

.filter-block__price {
  color: #36383e; }
  .filter-block__price input {
    border: 1px solid #62646f; }

#price-slider .noUi-background {
  background: #f0f0f0; }
#price-slider .noUi-connect {
  background: #fefe9a; }
#price-slider .noUi-handle:after {
  border-top: 7px solid #2cb55d; }
#price-slider .noUi-handle:hover:after {
  border-top: 7px solid #49d97d; }
#price-slider .noUi-handle:active:after, #price-slider .noUi-handle:focus:after {
  border-top: 7px solid #19a24a; }
#price-slider .noUi-handle.noUi-active {
  background: #19a24a !important;
  box-shadow: none !important; }
  #price-slider .noUi-handle.noUi-active:after {
    border-top: 7px solid #19a24a !important; }
#price-slider .noUi-marker-sub, #price-slider .noUi-marker-large, #price-slider .noUi-marker {
  background: #000000; }
#price-slider .noUi-pips {
  color: #000000; }

.filter-color .checkbox span.red, .filter-color .radio span.red {
  background: #e61803; }
.filter-color .checkbox span.orange, .filter-color .radio span.orange {
  background: #fb9206; }
.filter-color .checkbox span.yellow, .filter-color .radio span.yellow {
  background: #fff000; }
.filter-color .checkbox span.green, .filter-color .radio span.green {
  background: #7cb300; }
.filter-color .checkbox span.turquoise, .filter-color .radio span.turquoise {
  background: #5dd9d5; }
.filter-color .checkbox span.blue, .filter-color .radio span.blue {
  background: #02569f; }
.filter-color .checkbox span.purple, .filter-color .radio span.purple {
  background: #53027a; }
.filter-color .checkbox span.pink, .filter-color .radio span.pink {
  background: #f88dc2; }
.filter-color .checkbox span.brown, .filter-color .radio span.brown {
  background: #5e4103; }
.filter-color .checkbox span.gray, .filter-color .radio span.gray {
  background: #b9b9b9; }
.filter-color .checkbox span.black, .filter-color .radio span.black {
  background: #000000; }
.filter-color .checkbox span.white, .filter-color .radio span.white {
  background: #ffffff; }

.filter-reset {
  color: #36383e;
  border-bottom: 1px dotted #36383e; }
  .filter-reset:hover, .filter-reset:active, .filter-reset:focus {
    color: #36383e;
    border-bottom: 1px dotted transparent; }

.checkbox span {
  color: #36383e; }
  .checkbox span:before {
    border: 1px solid #62646f; }
  .checkbox span:after {
    border: 1px solid #fefe9a;
    background: #fefe9a;
    color: #343434; }
.checkbox input:disabled + span:before {
  border: 1px solid #f0f0f0; }
.checkbox:hover span:before, .checkbox:active span:before, .checkbox:focus span:before {
  border: 1px solid #fefe9a; }

.product-page__photo .medium-image .zoom-controls {
  color: #c7c7c7; }
.product-page__photo .medium-image .flex-viewport {
  border: 1px solid #c7c7c7; }
.product-page__photo .medium-image .swatch a {
  color: #000000;
  border-bottom: 1px dotted #000000; }
.product-page__photo .medium-image .flex-direction-nav li a {
  background: #f0f0f0;
  color: #838383; }
.product-page__photo .thumbnails .thumbnails-list li:hover, .product-page__photo .thumbnails .thumbnails-list li:focus, .product-page__photo .thumbnails .thumbnails-list li:active {
  border: 2px solid #c7c7c7; }
.product-page__photo .thumbnails .thumbnails-list .flex-active-slide {
  border: 2px solid #c7c7c7; }
.product-page__photo .thumbnails .flex-direction-nav li a {
  background: #f0f0f0;
  color: #838383; }

.product-page__properties h1 {
  color: #000000; }
.product-page__properties .properties-color .radio input {
  display: none; }
  .product-page__properties .properties-color .radio input:checked + span {
    border: 2px solid #59616d; }
.product-page__properties .properties-color .radio:hover span, .product-page__properties .properties-color .radio:active span, .product-page__properties .properties-color .radio:focus span {
  border: 2px solid #59616d; }
.product-page__properties .properties-availability .availability span {
  color: #29b664; }
.product-page__properties .properties-availability .availability:before {
  background: #29b664; }
.product-page__properties .properties-availability .not-availability span {
  color: #d31616; }
.product-page__properties .properties-availability .not-availability:before {
  color: #d31616; }
.product-page__properties .actions-wishlist {
  color: #23cdb7;
  border-color: #23cdb7; }
  .product-page__properties .actions-wishlist:hover, .product-page__properties .actions-wishlist:active, .product-page__properties .actions-wishlist:focus {
    color: #7eecde;
    border-color: #7eecde; }
  .product-page__properties .actions-wishlist.active {
    color: #aeaeae;
    border-color: #aeaeae; }
.product-page__properties .actions-compare {
  color: #f6712a;
  border-color: #f6712a; }
  .product-page__properties .actions-compare:hover, .product-page__properties .actions-compare:focus, .product-page__properties .actions-compare:active {
    color: #ff955c;
    border-color: #ff955c; }
  .product-page__properties .actions-compare.active {
    color: #aeaeae;
    border-color: #aeaeae; }

.product-page__buy .old-price {
  color: #b0b3c1; }

.product-page__description .note {
  color: #000000; }
  .product-page__description .note a {
    color: #214af0; }
    .product-page__description .note a:hover {
      color: #2cb55d; }
.product-page__description .tabs-style-linebox nav a {
  color: #36383e; }
  .product-page__description .tabs-style-linebox nav a:after {
    background: #36383e; }
.product-page__description .tabs-style-linebox nav a:hover::after, .product-page__description .tabs-style-linebox nav a:focus::after, .product-page__description .tabs-style-linebox nav li.tab-current a::after {
  background: #2cb55d; }
.product-page__description .tabs-style-linebox nav li.tab-current a {
  color: #ffffff; }
.product-page__description .tabs-style-linebox nav a:hover, .product-page__description .tabs-style-linebox nav a:focus {
  color: #2cb55d; }
.product-page__description .content-wrap section {
  color: #000000; }
  .product-page__description .content-wrap section p {
    color: #000000; }

.product-page__reviews .form-wrap button {
  background: #2cb55d;
  color: #f0f0f0; }
.product-page__reviews .comment-wrap header {
  background: #f0f0f0; }
.product-page__reviews .show-comment {
  color: #214af0; }

.catalog-set-item .catalog-item:after {
  background: #62646f;
  color: #ffffff; }
.catalog-set-item .photo .delete {
  background: #000000;
  color: #ffffff; }
.catalog-set-item .create-my-set {
  color: #000000; }

.catalog-set-offer .price-good .price {
  color: #2cb55d; }
.catalog-set-offer .price-bad {
  color: #62646f; }
  .catalog-set-offer .price-bad .economy {
    color: #000000; }
.catalog-set-offer .set-offer {
  background: #f0f0f0; }

.account-page__nav .navigation-item.active .navigation-link {
  color: #2cb55d;
  border-bottom: 1px dotted #2cb55d; }
.account-page__nav .navigation-link {
  color: #000000;
  border-bottom: 1px dotted #000000; }
  .account-page__nav .navigation-link:hover, .account-page__nav .navigation-link:active, .account-page__nav .navigation-link:focus {
    color: #878787;
    border-bottom: 1px dotted transparent; }

.account-page__main h2 {
  border-color: #36383e; }
.account-page__main .line-wrap input {
  -webkit-box-shadow: 0 0 0 7px #f0f0f0;
  -moz-box-shadow: 0 0 0 7px #f0f0f0;
  box-shadow: 0 0 0 7px #f0f0f0;
  color: #000000; }
.account-page__main .location {
  color: #0054ff;
  border-bottom: 1px dotted rgba(0, 84, 255, 0.5); }
  .account-page__main .location:hover, .account-page__main .location:active, .account-page__main .location:focus {
    color: #36383e; }
.account-page__main .show-password {
  color: #aeaeae; }
.account-page__main .social-profile a {
  color: #000000; }
.account-page__main .social-profile i.social-link:before {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.7); }
.account-page__main .tabs-list li.tab-current {
  background: #2cb55d; }
  .account-page__main .tabs-list li.tab-current a {
    color: #ffffff; }
  .account-page__main .tabs-list li.tab-current span {
    border-bottom: 1px dotted transparent; }
.account-page__main .tabs-list li:hover, .account-page__main .tabs-list li:active, .account-page__main .tabs-list li:focus {
  background: #2cb55d; }
  .account-page__main .tabs-list li:hover a, .account-page__main .tabs-list li:active a, .account-page__main .tabs-list li:focus a {
    color: #ffffff; }
.account-page__main .tabs-list a {
  color: #000000; }
.account-page__main .tabs-style-linebox nav a::after {
  background: #2cb55d; }
.account-page__main .wish-list__add, .account-page__main .wish-list-rename, .account-page__main .wish-list-delete {
  color: #000000;
  border-color: #000000; }
.account-page__main .wish-list__table td {
  border-bottom: 2px solid #f0f0f0; }
.account-page__main .wish-list__table tr:first-child {
  background: #f0f0f0; }
.account-page__main .wish-list__name a {
  color: #000000; }
  .account-page__main .wish-list__name a:hover {
    color: #2cb55d; }
.account-page__main .availability {
  background: #29b664; }
.account-page__main .not-availability {
  background: #d31616; }
.account-page__main .old-price {
  color: #b0b3c1; }
.account-page__main .delete {
  color: #2cb55d; }
.account-page__main .compare.active {
  color: #2cb55d; }
.account-page__main .order-history__filter input {
  border: 6px solid #f0f0f0; }
.account-page__main .order-history__table tr:first-child {
  background: #f0f0f0; }
.account-page__main .order-history__table td {
  border-bottom: 2px solid #f0f0f0; }
.account-page__main .order-history__table .good {
  color: #29b664; }
.account-page__main .order-history__table .bad {
  color: #d31616; }
.account-page__main .order-history__table .products a {
  color: #214af0; }
.account-page__main .order-history__table .actions a {
  color: #000000;
  border-bottom: 1px dotted; }
  .account-page__main .order-history__table .actions a:hover, .account-page__main .order-history__table .actions a:active, .account-page__main .order-history__table .actions a:focus {
    border-bottom: 1px dotted transparent; }
.account-page__main .order-history__table .date {
  color: #878787; }

.my-reviews header {
  background: #f0f0f0; }
.my-reviews a {
  color: #214af0;
  border-bottom: 1px dotted rgba(33, 74, 240, 0.5); }
  .my-reviews a:hover, .my-reviews a:active, .my-reviews a:focus {
    border-bottom: 1px dotted transparent; }
.my-reviews .date {
  color: #878787; }

.my-blog .add {
  color: #000000; }
.my-blog .date {
  color: #62646f; }
.my-blog .read-link {
  color: #214af0; }
  .my-blog .read-link:after {
    border-top: 5px solid #214af0; }

.mail-setting input {
  border: 7px solid #f0f0f0; }
.mail-setting .change-sub-block {
  box-shadow: 0px 0px 20px -7px #000000; }

.personal-data__avatar .edit, .personal-data__avatar .delete {
  background: rgba(0, 0, 0, 0.6) !important;
  color: #ffffff; }
  .personal-data__avatar .edit:hover, .personal-data__avatar .edit:active, .personal-data__avatar .edit:focus, .personal-data__avatar .delete:hover, .personal-data__avatar .delete:active, .personal-data__avatar .delete:focus {
    background: black !important; }

.new-password-block {
  box-shadow: 0px 0px 14px -7px #000000;
  background: #ffffff; }
  .new-password-block input {
    border: 7px solid #f0f0f0; }
  .new-password-block .cancel {
    background: #f0f0f0;
    color: #000000; }

.page-basket__back, .order-page__back {
  color: #000000;
  background: #f0f0f0; }
  .page-basket__back:hover, .order-page__back:hover, .page-basket__back:active, .order-page__back:active, .page-basket__back:focus, .order-page__back:focus {
    color: #000000;
    background: #fefe9a; }
    .page-basket__back:hover:before, .order-page__back:hover:before, .page-basket__back:active:before, .order-page__back:active:before, .page-basket__back:focus:before, .order-page__back:focus:before {
      border-right: 15px solid #fefe9a; }
  .page-basket__back:before, .order-page__back:before {
    border-right: 15px solid #f0f0f0; }

.product-table .fast-checkout-button .submit {
  background: #fefe9a;
  color: #000000; }
  .product-table .fast-checkout-button .submit:hover, .product-table .fast-checkout-button .submit:active, .product-table .fast-checkout-button .submit:focus {
    background: #fdfdb5; }

.product-table__search {
  color: #36383e; }
  .product-table__search .search {
    background: #f0f0f0; }

.product-table__info .text {
  color: #878787; }

.product-table__tabs nav a {
  color: #36383e; }
  .product-table__tabs nav a:after {
    background: #36383e; }
.product-table__tabs nav a:hover::after, .product-table__tabs nav a:focus::after, .product-table__tabs nav li.tab-current a::after {
  background: #2cb55d; }
.product-table__tabs nav li.tab-current a {
  color: #ffffff; }
.product-table__tabs nav a:hover, .product-table__tabs nav a:focus {
  color: #2cb55d; }

.product-table__list .quantity-input {
  background: #f0f0f0; }
.product-table__list .discount {
  color: #878787; }
  .product-table__list .discount.active {
    color: #d31616; }
.product-table__list .coupon-text {
  border: 1px solid transparent; }
  .product-table__list .coupon-text:hover {
    border: 1px solid #878787;
    border-right: 1px solid transparent; }
  .product-table__list .coupon-text:focus {
    border: 1px solid #fefe9a;
    border-right: 1px solid transparent; }
  .product-table__list .coupon-text:active {
    border: 1px solid #fefe9a;
    border-right: 1px solid transparent; }
.product-table__list tr:first-child td {
  color: #000000;
  background: #f0f0f0; }
.product-table__list tr:last-child {
  background: #f0f0f0; }
.product-table__list td {
  border-color: #f0f0f0; }
.product-table__list .not-availability {
  color: #d31616; }
  .product-table__list .not-availability span:before {
    color: #d31616; }
.product-table__list .old-price {
  color: #b0b3c1; }
.product-table__list .set-aside i:hover, .product-table__list .set-aside i:active, .product-table__list .set-aside i:focus, .product-table__list .delete i:hover, .product-table__list .delete i:active, .product-table__list .delete i:focus {
  background: #000000;
  color: #ffffff; }
@media (max-width: 767px) {
  .product-table__list .set-aside i, .product-table__list .delete i {
    background: #000000;
    color: #ffffff; } }

.product-table__mini td:last-child {
  border-bottom: 2px solid #f0f0f0; }

.customer-data__content .personal-information__input {
  -webkit-box-shadow: 0 0 0 7px #f0f0f0;
  -moz-box-shadow: 0 0 0 7px #f0f0f0;
  box-shadow: 0 0 0 7px #f0f0f0; }
.customer-data__content .or {
  color: #ffffff;
  background: #62646f; }
.customer-data__content .btn {
  border: 7px solid #f0f0f0; }
  .customer-data__content .btn .dropdown-toggle {
    border: 7px solid #f0f0f0; }
.customer-data__content .dropdown-menu {
  border: 7px solid #f0f0f0;
  border-top: 0; }
.customer-data__content .btn-default:hover, .customer-data__content .btn-default:focus, .customer-data__content .btn-default.focus, .customer-data__content .btn-default:active, .customer-data__content .btn-default.active, .customer-data__content .open > .btn-default.dropdown-toggle {
  background: none;
  border: 7px solid #f0f0f0;
  box-shadow: none; }

.delivery-courier .content {
  border: 8px solid #aeaeae;
  color: #aeaeae; }
  .delivery-courier .content:hover, .delivery-courier .content:active, .delivery-courier .content:focus {
    border: 8px solid #23cdb7;
    color: #23cdb7; }
.delivery-courier input:checked + .content {
  border: 8px solid #23cdb7;
  color: #23cdb7; }

.delivery-pickup .content {
  border: 8px solid #aeaeae;
  color: #aeaeae; }
  .delivery-pickup .content:hover, .delivery-pickup .content:active, .delivery-pickup .content:focus {
    border: 8px solid #f6712a;
    color: #f6712a; }
.delivery-pickup input:checked + .content {
  border: 8px solid #f6712a;
  color: #f6712a; }

.product-table__mini tr:first-child {
  background: #f0f0f0; }

.payment-cash label {
  border: 8px solid #aeaeae;
  color: #aeaeae; }
  .payment-cash label:hover, .payment-cash label:active, .payment-cash label:focus {
    border: 8px solid #23cdb7;
    color: #23cdb7; }
    .payment-cash label:hover:before, .payment-cash label:active:before, .payment-cash label:focus:before {
      opacity: 0; }
  @media (max-width: 767px) {
    .payment-cash label {
      color: #000000; } }
.payment-cash input:checked + label {
  border: 8px solid #23cdb7;
  color: #23cdb7; }

.payment-card label {
  border: 8px solid #aeaeae;
  color: #aeaeae; }
  .payment-card label:hover, .payment-card label:active, .payment-card label:focus {
    border: 8px solid #f6712a;
    color: #f6712a; }
    .payment-card label:hover:before, .payment-card label:active:before, .payment-card label:focus:before {
      opacity: 0; }
  @media (max-width: 767px) {
    .payment-card label {
      color: #000000; } }
.payment-card input:checked + label {
  border: 8px solid #f6712a;
  color: #f6712a; }

.payment-paypal label {
  border: 8px solid #aeaeae;
  color: #aeaeae; }
  .payment-paypal label:hover, .payment-paypal label:active, .payment-paypal label:focus {
    border: 8px solid #00aeff; }
    .payment-paypal label:hover:before, .payment-paypal label:active:before, .payment-paypal label:focus:before {
      opacity: 0; }
  @media (max-width: 767px) {
    .payment-paypal label {
      color: #000000; } }
.payment-paypal input:checked + label {
  border: 8px solid #00aeff; }

.payment-yandex label {
  border: 8px solid #aeaeae;
  color: #aeaeae; }
  .payment-yandex label:hover, .payment-yandex label:active, .payment-yandex label:focus {
    border: 8px solid #a67ac4; }
    .payment-yandex label:hover:before, .payment-yandex label:active:before, .payment-yandex label:focus:before {
      opacity: 0; }
  @media (max-width: 767px) {
    .payment-yandex label {
      color: #000000; } }
.payment-yandex input:checked + label {
  border: 8px solid #a67ac4; }

.search-result .date {
  color: #878787; }

.order-page__header .order-date {
  color: #878787; }

.brands-page .brands__link {
  color: #000000; }
  .brands-page .brands__link:hover, .brands-page .brands__link:focus, .brands-page .brands__link:active {
    color: #2cb55d; }

.page-404__big {
  color: #2cb55d; }

.password-page__content input {
  -webkit-box-shadow: 0 0 0 7px #f0f0f0;
  -moz-box-shadow: 0 0 0 7px #f0f0f0;
  box-shadow: 0 0 0 7px #f0f0f0; }

.modal-block header {
  background: #000000; }
  .modal-block header h2 {
    color: #ffffff; }
.modal-block input {
  box-shadow: 0 0 0 7px #f0f0f0;
  background: #fff; }
.modal-block input[disabled] {
  background: #f5f5f5;
  color: #878787; }
  .modal-block input[disabled]:hover {
    border: 1px solid transparent; }
.modal-block textarea {
  box-shadow: 0 0 0 7px #f0f0f0; }
.modal-block .fancybox-skin {
  background: #ffffff;
  color: #000000; }
.modal-block .btn {
  border: 7px solid #f0f0f0; }
  .modal-block .btn .dropdown-toggle {
    border: 7px solid #f0f0f0; }
.modal-block .dropdown-menu {
  border: 7px solid #f0f0f0;
  border-top: 0; }
.modal-block .btn-default:hover, .modal-block .btn-default:focus, .modal-block .btn-default.focus, .modal-block .btn-default:active, .modal-block .btn-default.active, .modal-block .open > .btn-default.dropdown-toggle {
  background: none;
  border: 7px solid #f0f0f0;
  box-shadow: none; }
.modal-block .fancybox-close {
  color: #ffffff; }
.modal-block .modal-captcha {
  border-color: #f0f0f0; }
.modal-block .captcha-note {
  color: #878787; }
.modal-block .modal-feedback__description {
  color: #878787; }
.modal-block .log-reg, .modal-block a {
  color: #878787; }
.modal-block .log-reg__tab.active {
  color: #ffffff; }
.modal-block .modal-login__or {
  background: #d9d9d9; }
.modal-block .modal-login__or span {
  background: #62646f;
  color: #ffffff; }
.modal-block .no-product {
  border: 2px solid #aeaeae;
  color: #878787; }
.modal-block .catalog-hits__item .photo:before {
  background: #000000;
  color: #ffffff; }

.modal-content .close {
  color: #ffffff; }

#modal-city .cities-group li a:hover {
  color: #2cb55d; }

.rating[data-rating="1"] i:nth-of-type(-n+1) {
  color: #ff4848; }

.rating[data-rating="2"] i:nth-of-type(-n+2) {
  color: #ff7200; }

.rating[data-rating="3"] i:nth-of-type(-n+3) {
  color: #ff8a00; }

.rating[data-rating="4"] i:nth-of-type(-n+4) {
  color: #ffcd00; }

.rating[data-rating="5"] i:nth-of-type(-n+5) {
  color: #529f00; }

.rating[data-hoverrating="1"] i.hovered {
  color: #ff4848; }

.rating[data-hoverrating="2"] i.hovered {
  color: #ff7200; }

.rating[data-hoverrating="3"] i.hovered {
  color: #ff8a00; }

.rating[data-hoverrating="4"] i.hovered {
  color: #ffcd00; }

.rating[data-hoverrating="5"] i.hovered {
  color: #529f00; }

.mobile-next-items a {
  color: #000000; }

.compare-page__content .jspTrack {
  background: #f0f0f0; }
.compare-page__content .jspDrag.jspActive {
  background: #19a24a !important; }

.zebra tr:nth-child(2n+1):not(:last-child) {
  background: rgba(248, 248, 248, 0.9); }
  .zebra tr:nth-child(2n+1):not(:last-child) td.hover {
    background: rgba(242, 242, 242, 0.9); }

.table-compare-copy {
  background: #ffffff; }
  .table-compare-copy tr:nth-child(2n):not(:last-child) {
    background: rgba(248, 248, 248, 0.9); }
    .table-compare-copy tr:nth-child(2n):not(:last-child) td.hover {
      background: rgba(242, 242, 242, 0.9); }

.table-compare td {
  position: relative;
  border-right: 2px solid #f0f0f0; }
  .table-compare td.hover {
    background: rgba(248, 248, 248, 0.9); }
.table-compare thead td:first-child.hover {
  background: none; }
.table-compare .compare-category span {
  background: #f0f0f0; }
.table-compare .compare-filter a {
  color: #000000; }
.table-compare .name {
  color: #214af0; }
.table-compare col {
  display: block; }

.catalog-hits-set .photo .add {
  background: #000000;
  color: #ffffff; }
.catalog-hits-set .added {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff; }

.tooltip-inner {
  background: #fde36a;
  color: #000000; }

.site-map-tabs a {
  color: #214af0; }
  .site-map-tabs a:before {
    color: #000000; }

.map-page a {
  color: #214af0; }

.mobile-trigger {
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff; }
  .mobile-trigger:before {
    background: #ffffff; }

.navigation-mobile {
  background: #000000; }
  .navigation-mobile a {
    color: #ffffff; }

.checkout-grid__item {
  border: 2px solid #f0f0f0;
  background: #ffffff;
  color: #000000; }
  .checkout-grid__item .fa-close {
    color: #878787; }
  .checkout-grid__item.checkout-grid__item--summary {
    background: #fefe9a; }
    .checkout-grid__item.checkout-grid__item--summary .fa-close {
      color: #000000; }

.basket-block .name {
  color: #000000; }
  .basket-block .name:hover {
    color: #2cb55d; }

.form_comment {
  border: 7px solid #f0f0f0; }
  .form_comment .location {
    color: #214af0; }
  .form_comment input {
    -webkit-box-shadow: 0 0 0 7px #f0f0f0;
    -moz-box-shadow: 0 0 0 7px #f0f0f0;
    box-shadow: 0 0 0 7px #f0f0f0; }
  .form_comment .modal-captcha {
    border-color: #f0f0f0; }
  .form_comment .comment textarea {
    -webkit-box-shadow: 0 0 0 7px #f0f0f0;
    -moz-box-shadow: 0 0 0 7px #f0f0f0;
    box-shadow: 0 0 0 7px #f0f0f0; }

.question-block .question {
  color: #214af0; }

.catalog__pagination .item-number {
  color: #36383e; }

.catalog-table-search p {
  color: #62646f; }
.catalog-table-search form {
  background: #f0f0f0; }

.phone-country .btn {
  border: none; }
  .phone-country .btn .dropdown-toggle {
    border: 5px solid #f0f0f0; }
  .phone-country .btn .caret {
    color: #000000; }
.phone-country .dropdown-menu {
  border: 5px solid #f0f0f0;
  border-top: 0; }
.phone-country .btn-default:hover, .phone-country .btn-default:focus, .phone-country .btn-default.focus, .phone-country .btn-default:active, .phone-country .btn-default.active, .phone-country.open > .btn-default.dropdown-toggle {
  background: #49d97d;
  border: none;
  box-shadow: none;
  outline: none; }

.contact-page__map .address {
  background: #f0f0f0; }
.contact-page__map .time {
  background: #fefe9a; }

.alert.good {
  border: 5px solid #5ca50f; }
.alert.bad {
  border: 5px solid #d31616; }

.header .search__button, .main-menu .jspDrag, .catalog-blocks .buy__button, .product-slider-navigation .carousel-control, .footer__subscribe button, .catalog__sort .sort-number .btn, .catalog__sort .sort-sorting .btn, .catalog-list .buy__button, .catalog-table .buy__button, .filter-block__display, .filter-block__content .jspDrag, #price-slider .noUi-handle, .filter-complete, .product-page__buy .buy__button, .catalog-set-offer .buy__button, .account-page__main .edit, .account-page__main .button-save, .account-page__main .wish-list__table .buy, .account-page__main .show, .mail-setting .change-sub, .mail-setting .save, .new-password-block .save, .checkout-button .submit, .product-table__search button.search-button, .product-table__list .coupon-submit, .search-page__settings .sort-list-item.active, .order-page__cancel, .password-page__submit, .modal-block .modal-button, .color-switch-toggle, .compare-page__content .jspDrag, .table-compare .compare-filter .active a, .table-compare .buy, .basket-block .issue, .form_comment .submit, .add-question, .catalog-table-search .submit, .phone-country .btn {
  background: #2cb55d;
  color: #ffffff; }
  .header .search__button:hover, .main-menu .jspDrag:hover, .catalog-blocks .buy__button:hover, .product-slider-navigation .carousel-control:hover, .footer__subscribe button:hover, .catalog__sort .sort-number .btn:hover, .catalog__sort .sort-sorting .btn:hover, .catalog-list .buy__button:hover, .catalog-table .buy__button:hover, .filter-block__display:hover, .filter-block__content .jspDrag:hover, #price-slider .noUi-handle:hover, .filter-complete:hover, .product-page__buy .buy__button:hover, .catalog-set-offer .buy__button:hover, .account-page__main .edit:hover, .account-page__main .button-save:hover, .account-page__main .wish-list__table .buy:hover, .account-page__main .show:hover, .mail-setting .change-sub:hover, .mail-setting .save:hover, .new-password-block .save:hover, .checkout-button .submit:hover, .product-table__search button.search-button:hover, .product-table__list .coupon-submit:hover, .search-page__settings .sort-list-item.active:hover, .order-page__cancel:hover, .password-page__submit:hover, .modal-block .modal-button:hover, .color-switch-toggle:hover, .compare-page__content .jspDrag:hover, .table-compare .compare-filter .active a:hover, .table-compare .buy:hover, .basket-block .issue:hover, .form_comment .submit:hover, .add-question:hover, .catalog-table-search .submit:hover, .phone-country .btn:hover {
    background: #49d97d;
    color: #ffffff; }
  .header .search__button:active, .main-menu .jspDrag:active, .catalog-blocks .buy__button:active, .product-slider-navigation .carousel-control:active, .footer__subscribe button:active, .catalog__sort .sort-number .btn:active, .catalog__sort .sort-sorting .btn:active, .catalog-list .buy__button:active, .catalog-table .buy__button:active, .filter-block__display:active, .filter-block__content .jspDrag:active, #price-slider .noUi-handle:active, .filter-complete:active, .product-page__buy .buy__button:active, .catalog-set-offer .buy__button:active, .account-page__main .edit:active, .account-page__main .button-save:active, .account-page__main .wish-list__table .buy:active, .account-page__main .show:active, .mail-setting .change-sub:active, .mail-setting .save:active, .new-password-block .save:active, .checkout-button .submit:active, .product-table__search button.search-button:active, .product-table__list .coupon-submit:active, .search-page__settings .sort-list-item.active:active, .order-page__cancel:active, .password-page__submit:active, .modal-block .modal-button:active, .color-switch-toggle:active, .compare-page__content .jspDrag:active, .table-compare .compare-filter .active a:active, .table-compare .buy:active, .basket-block .issue:active, .form_comment .submit:active, .add-question:active, .catalog-table-search .submit:active, .phone-country .btn:active {
    background: #19a24a;
    color: #ffffff; }

.radio input:checked + span:before {
  border: 1px solid #2cb55d;
  background: #2cb55d; }
.radio input:checked + span:after {
  background: #ffffff; }
.radio input:disabled + span {
  cursor: default; }
  .radio input:disabled + span:before {
    border: 1px solid #f0f0f0; }
  .radio input:disabled + span:after {
    background: #f0f0f0; }
.radio span:before {
  border: 1px solid #c7c7c7; }
.radio span:after {
  background: #c7c7c7; }
.radio:hover span:before {
  border: 1px solid #2cb55d;
  background: #2cb55d;
  opacity: 0.5; }
.radio:hover span:after {
  background: #ffffff; }
.radio:hover input:disabled + span {
  cursor: default; }
  .radio:hover input:disabled + span:before {
    border: 1px solid #f0f0f0;
    background: none;
    opacity: 1; }
  .radio:hover input:disabled + span:after {
    background: #f0f0f0; }

.base-link, .all-brand-link, .contact-page__mail a, .order-successful__text a, .modal-block .forgot-password a, .modal-block .agreement a {
  color: #214af0;
  border-bottom: 1px solid rgba(33, 74, 240, 0.5); }
  .base-link:hover, .all-brand-link:hover, .contact-page__mail a:hover, .order-successful__text a:hover, .modal-block .forgot-password a:hover, .modal-block .agreement a:hover {
    color: #214af0;
    border-bottom: 1px solid transparent; }
    
.sold-out{
	background : #F44336 !important;
}

.sold-out:hover{
	background : #9e9e9e !important;
}

.disabled{
	cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}