﻿@charset "UTF-8";

/**
 * Index
 *
 * 1. Basic elements
 * 2. Main Inner
 * 3. Breadcrumb
 * 4. Footer
 * 5. Widget
 * 6. Header
 * 7. Listings
 * 8. Buttons
 * 9. Job Listing
 */

body {
  margin: 0; }

td,
th {
  padding: 0; }


html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff; }

/**
 * 1. Basic elements
 */
html {
  height: 100%; }

body {
  background-color: #fff;
  color: #868686;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  -webkit-font-smoothing: antialiased; }
  body.admin-bar {
    padding-top: 32px; }
    @media screen and (max-width: 782px) {
      body.admin-bar {
        padding-top: 46px; } }

::-moz-selection {
  color: #fff;
  background: rgba(10, 171, 154, 0.7); }

::selection {
  color: #fff;
  background: rgba(10, 171, 154, 0.7); }

a {
  color: #00a1e0;
  transition: color .15s linear; }
  a:hover {
    color: #0491c7;
    text-decoration: none; }
  a:active, a:focus {
    outline: none;
    -moz-outline-style: none; }


.wrapper {
  background-color: #fafafa;
  display: table;
  height: 100%;
  overflow: hidden;
  table-layout: fixed;
  width: 100%; }

.panel-custom{
  background-color: #fff;
  padding: 25px 25px 10px 25px;
  margin-bottom: 30px;
  overflow: -webkit-paged-x; 
 -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0; 
}

/**
 * 2. Main Inner
 */
.main-inner {
  background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #fafafa 50px);
  background-image: -o-linear-gradient(top, #f2f2f2 0%, #fafafa 50px);
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #fafafa 50px);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2F2F2', endColorstr='#FFFAFAFA', GradientType=0); }


/**
 * 3. Breadcrumb
 */
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px; }
  .breadcrumb > li {
    display: inline-block; }
    .breadcrumb > li + li:before {
      content: "/ ";
      padding: 0 5px;
      color: #ccc; }
  .breadcrumb > .active {
    color: #777777; }

.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 10px 0 5px 0; }



/**
 * 4. Footer
 */
.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
}

/**
 * 5. Widget
 */
.widget ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.not-found {
  text-align: center; }
  .not-found p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px; }
  .not-found .number {
    color: #00a1e0;
    font-size: 230px;
    margin: 80px 0;
    text-shadow: 7px 7px 0 #e9e9e9; }
  .not-found .number-description {
    color: #868686;
    font-size: 34px;
    margin: -30px 0 0 0;
    text-shadow: none; }


/**
 * 6. Header
 */
.page-title {
  color: #505050;
  border-bottom:1px solid #eeeeee;
  padding-bottom:9px;
  margin-bottom: 20px;
}

.header-bar {
  background-color: #00a1e0;
  position: relative;
  z-index: 200; }
  .header-bar .menu a strong {
    background-color: #444;
    color: #fff !important;
    padding: 6px 8px;
    transition: all .15s linear; }
    .header-bar .menu a strong:hover {
      background-color: #f7f7f7;
      color: #444 !important; }

.header-bar-inner {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  padding: 1px 0; }
    .header-bar-inner .widget .menu li {
      display: inline-block;
      margin: 0 10px;
      padding: 0; }
      @media (max-width: 767px) {
        .header-bar-inner .widget .menu li {
          margin: 0 15px 0 0; } }
      .header-bar-inner .widget .menu li a {
        border: 0;
        color: rgba(255, 255, 255, 0.6);
        font-size: 11px;
        line-height: 24px;
        margin: 0;
        padding: 0; }
        .header-bar-inner .widget .menu li a:hover {
          color: #fff;
          margin: 0;
          padding: 0; }

.header-bar-right {
  float: right; }
  @media (max-width: 767px) {
    .header-bar-right {
      float: none; } }
  .header-bar-right .widget {
    margin: 0 0 0 25px; }
    @media (max-width: 767px) {
      .header-bar-right .widget {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        display: block;
        float: none;
        padding: 2px 0 0 0; }
        .header-bar-right .widget:first-child {
          margin: 0; } }

.header-wrapper {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 0;
  position: relative;
  z-index: 2000; }

.header-inner {
  display: table;
  position: relative;
  width: 100%; }

.header-logo {
  display: table-cell;
  padding: 0 45px 0 0;
  vertical-align: middle;
  white-space: nowrap;
  width: 1px; }
  @media (min-width: 768px) {
    .header-complex .affix .header-logo {
      display: none; } }
  .header-logo a {
    color: #363636; }
    .header-logo a:active, .header-logo a:focus, .header-logo a:hover {
      color: #363636;
      text-decoration: none; }
      .header-transparent .affix-top .header-logo a:active, .header-transparent .affix-top .header-logo a:focus, .header-transparent .affix-top .header-logo a:hover {
        color: #fff; }
    .header-transparent .affix-top .header-logo a {
      color: #fff; }
  .header-logo strong {
    display: block;
    font-size: 22px;
    font-weight: 500;
    padding-right: 60px;
    padding-top: 7px;
    text-align: left;
    vertical-align: middle; }
    @media (min-width: 768px) and (max-width: 991px) {
      .header-regular .header-logo strong {
        display: none; } }
  .header-logo span {
    color: #676767;
    display: block;
    font-size: 12px;
    text-align: left;
    vertical-align: middle; }
    @media (min-width: 768px) and (max-width: 991px) {
      .header-regular .header-logo span {
        display: none; } }
    .affix .header-logo span {
      display: none; }
    .header-transparent .affix-top .header-logo span {
      color: #fff; }
  .header-logo img {
    float: left;
    max-height: 44px;
    padding-right: 10px;
    vertical-align: middle; }
    @media (max-width: 991px) {
      .header-logo img {
        max-width: 195px; } }
  .header-regular .header-logo {
    height: 80px;
    padding: 0;
    text-align: center; }
    .header-regular .header-logo img, .header-regular .header-logo svg {
      margin: 0; }

.header-navigation {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }
  .header-regular .header-navigation {
    float: right; }
  @media (max-width: 767px) {
    .header-navigation {
      display: initial; } }
  .header-navigation .nav, .header-navigation .footer-top .widget.widget_nav_menu ul, .footer-top .widget.widget_nav_menu .header-navigation ul, .header-navigation .footer-bottom .widget.widget_nav_menu ul, .footer-bottom .widget.widget_nav_menu .header-navigation ul {
    float: right;
    padding: 12px 0; }
    @media (min-width: 768px) {
      .header-navigation .nav > li, .header-navigation .footer-top .widget.widget_nav_menu ul > li, .footer-top .widget.widget_nav_menu .header-navigation ul > li, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li {
        margin: 0;
        position: relative; }
        .header-navigation .nav > li.current-menu-item > a, .header-navigation .footer-top .widget.widget_nav_menu ul > li.current-menu-item > a, .footer-top .widget.widget_nav_menu .header-navigation ul > li.current-menu-item > a, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li.current-menu-item > a, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li.current-menu-item > a {
          color: #363636;
          font-weight: 600; }
        .header-navigation .nav > li.current-menu-item:after, .header-navigation .footer-top .widget.widget_nav_menu ul > li.current-menu-item:after, .footer-top .widget.widget_nav_menu .header-navigation ul > li.current-menu-item:after, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li.current-menu-item:after, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li.current-menu-item:after {
          background-color: #00a1e0;
          bottom: 0;
          content: '';
          display: block;
          height: 2px;
          left: 10px;
          position: absolute;
          right: 10px; }
        .header-navigation .nav > li:last-child.current-menu-item:after, .header-navigation .footer-top .widget.widget_nav_menu ul > li:last-child.current-menu-item:after, .footer-top .widget.widget_nav_menu .header-navigation ul > li:last-child.current-menu-item:after, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li:last-child.current-menu-item:after, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li:last-child.current-menu-item:after {
          right: -10px; }
        .header-navigation .nav > li:last-child > a, .header-navigation .footer-top .widget.widget_nav_menu ul > li:last-child > a, .footer-top .widget.widget_nav_menu .header-navigation ul > li:last-child > a, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li:last-child > a, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li:last-child > a {
          padding-right: 0 !important; }
        .header-navigation .nav > li > a, .header-navigation .footer-top .widget.widget_nav_menu ul > li > a, .footer-top .widget.widget_nav_menu .header-navigation ul > li > a, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li > a, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li > a {
          border-radius: 0;
          color: #444;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.1px;
          padding: 6px 20px;
          text-transform: uppercase;
          transition: color .15s linear; }
          .header-regular .header-navigation .nav > li > a, .header-regular .header-navigation .footer-top .widget.widget_nav_menu ul > li > a, .footer-top .widget.widget_nav_menu .header-regular .header-navigation ul > li > a, .header-regular .header-navigation .footer-bottom .widget.widget_nav_menu ul > li > a, .footer-bottom .widget.widget_nav_menu .header-regular .header-navigation ul > li > a {
            padding: 32px 20px 31px 20px; }
          .header-navigation .nav > li > a:hover, .header-navigation .footer-top .widget.widget_nav_menu ul > li > a:hover, .footer-top .widget.widget_nav_menu .header-navigation ul > li > a:hover, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li > a:hover, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li > a:hover {
            background-color: transparent;
            color: #00a1e0; }
          .header-navigation .nav > li > a:active, .header-navigation .footer-top .widget.widget_nav_menu ul > li > a:active, .footer-top .widget.widget_nav_menu .header-navigation ul > li > a:active, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li > a:active, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li > a:active, .header-navigation .nav > li > a:focus, .header-navigation .footer-top .widget.widget_nav_menu ul > li > a:focus, .footer-top .widget.widget_nav_menu .header-navigation ul > li > a:focus, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li > a:focus, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li > a:focus {
            background-color: transparent; }
          .header-transparent .affix-top .header-navigation .nav > li > a, .header-transparent .affix-top .header-navigation .footer-top .widget.widget_nav_menu ul > li > a, .footer-top .widget.widget_nav_menu .header-transparent .affix-top .header-navigation ul > li > a, .header-transparent .affix-top .header-navigation .footer-bottom .widget.widget_nav_menu ul > li > a, .footer-bottom .widget.widget_nav_menu .header-transparent .affix-top .header-navigation ul > li > a {
            color: #fff; }
        .header-navigation .nav > li.active > a, .header-navigation .footer-top .widget.widget_nav_menu ul > li.active > a, .footer-top .widget.widget_nav_menu .header-navigation ul > li.active > a, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li.active > a, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li.active > a {
          background-color: transparent;
          color: #00a1e0; }
        .header-navigation .nav > li:hover > .sub-menu, .header-navigation .footer-top .widget.widget_nav_menu ul > li:hover > .sub-menu, .footer-top .widget.widget_nav_menu .header-navigation ul > li:hover > .sub-menu, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li:hover > .sub-menu, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li:hover > .sub-menu {
          display: block;
          opacity: 1;
          transition: opacity .15s linear;
          visibility: visible; }
        .header-navigation .nav > li .sub-menu, .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu, .footer-top .widget.widget_nav_menu .header-navigation ul > li .sub-menu, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li .sub-menu {
          background-color: #fff;
          border: 1px solid #e9e9e9;
          display: block;
          left: 0;
          list-style: none;
          margin: 0;
          opacity: 0;
          padding: 12px 0;
          position: absolute;
          visibility: hidden;
          width: 220px;
          z-index: 10; }
          .submenu-dark .header-navigation .nav > li .sub-menu, .submenu-dark .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu, .footer-top .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu, .submenu-dark .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu, .footer-bottom .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu {
            background-color: #444;
            border: 0; }
            .submenu-dark .header-navigation .nav > li .sub-menu li > a, .submenu-dark .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li > a, .footer-top .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu li > a, .submenu-dark .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li > a, .footer-bottom .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu li > a {
              color: rgba(255, 255, 255, 0.9); }
              .submenu-dark .header-navigation .nav > li .sub-menu li > a:hover, .submenu-dark .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li > a:hover, .footer-top .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu li > a:hover, .submenu-dark .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li > a:hover, .footer-bottom .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu li > a:hover {
                background-color: rgba(255, 255, 255, 0.1);
                color: #fff; }
            .submenu-dark .header-navigation .nav > li .sub-menu li:hover, .submenu-dark .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li:hover, .footer-top .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu li:hover, .submenu-dark .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li:hover, .footer-bottom .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu li:hover {
              background-color: rgba(255, 255, 255, 0.1);
              color: #fff; }
              .submenu-dark .header-navigation .nav > li .sub-menu li:hover > a, .submenu-dark .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li:hover > a, .footer-top .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu li:hover > a, .submenu-dark .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li:hover > a, .footer-bottom .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu li:hover > a {
                color: #fff; }
            .submenu-dark .header-navigation .nav > li .sub-menu:after, .submenu-dark .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu:after, .footer-top .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu:after, .submenu-dark .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu:after, .footer-bottom .widget.widget_nav_menu .submenu-dark .header-navigation ul > li .sub-menu:after {
              border-bottom-color: #444;
              top: -10px; }
          .header-navigation .nav > li .sub-menu:after, .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu:after, .footer-top .widget.widget_nav_menu .header-navigation ul > li .sub-menu:after, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu:after, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li .sub-menu:after {
            border: 5px solid transparent;
            border-bottom-color: #e9e9e9;
            content: '';
            display: block;
            height: 0;
            left: 15px;
            position: absolute;
            top: -11px;
            width: 0; }
          .header-navigation .nav > li .sub-menu li, .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li, .footer-top .widget.widget_nav_menu .header-navigation ul > li .sub-menu li, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li .sub-menu li {
            position: relative; }
            .header-navigation .nav > li .sub-menu li a, .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li a, .footer-top .widget.widget_nav_menu .header-navigation ul > li .sub-menu li a, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li a, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li .sub-menu li a {
              color: #868686;
              display: block;
              font-size: 13px;
              padding: 9px 20px;
              transition: all .15s linear;
              white-space: nowrap; }
              .header-navigation .nav > li .sub-menu li a:hover, .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li a:hover, .footer-top .widget.widget_nav_menu .header-navigation ul > li .sub-menu li a:hover, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li a:hover, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li .sub-menu li a:hover {
                background-color: #fafafa;
                color: #00a1e0;
                text-decoration: none; }
            .header-navigation .nav > li .sub-menu li:last-child, .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li:last-child, .footer-top .widget.widget_nav_menu .header-navigation ul > li .sub-menu li:last-child, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li:last-child, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li .sub-menu li:last-child {
              border-bottom: 0; }
            .header-navigation .nav > li .sub-menu li .fa, .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li .fa, .footer-top .widget.widget_nav_menu .header-navigation ul > li .sub-menu li .fa, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li .fa, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li .sub-menu li .fa {
              color: #363636;
              display: block;
              float: right;
              position: absolute;
              right: 10px;
              top: 12px; }
            .header-navigation .nav > li .sub-menu li > .sub-menu, .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li > .sub-menu, .footer-top .widget.widget_nav_menu .header-navigation ul > li .sub-menu li > .sub-menu, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li > .sub-menu, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li .sub-menu li > .sub-menu {
              display: none;
              opacity: 0;
              padding: 0;
              transition: none;
              visibility: visible; }
              .header-navigation .nav > li .sub-menu li > .sub-menu:after, .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li > .sub-menu:after, .footer-top .widget.widget_nav_menu .header-navigation ul > li .sub-menu li > .sub-menu:after, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li > .sub-menu:after, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li .sub-menu li > .sub-menu:after {
                display: none; }
            .header-navigation .nav > li .sub-menu li:hover > a, .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li:hover > a, .footer-top .widget.widget_nav_menu .header-navigation ul > li .sub-menu li:hover > a, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li:hover > a, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li .sub-menu li:hover > a {
              color: #00a1e0; }
            .header-navigation .nav > li .sub-menu li:hover > .sub-menu, .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li:hover > .sub-menu, .footer-top .widget.widget_nav_menu .header-navigation ul > li .sub-menu li:hover > .sub-menu, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li:hover > .sub-menu, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li .sub-menu li:hover > .sub-menu {
              display: block;
              left: 220px;
              margin: 0;
              opacity: 1;
              top: 0;
              transition: none;
              visibility: visible; }
              .header-navigation .nav > li .sub-menu li:hover > .sub-menu:before, .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li:hover > .sub-menu:before, .footer-top .widget.widget_nav_menu .header-navigation ul > li .sub-menu li:hover > .sub-menu:before, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li:hover > .sub-menu:before, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li .sub-menu li:hover > .sub-menu:before {
                background-color: #00a1e0;
                bottom: 0;
                content: '';
                display: block;
                height: 100%;
                left: -2px;
                position: absolute;
                top: 0;
                width: 2px; } }
    @media (max-width: 767px) {
      .header-navigation .nav, .header-navigation .footer-top .widget.widget_nav_menu ul, .footer-top .widget.widget_nav_menu .header-navigation ul, .header-navigation .footer-bottom .widget.widget_nav_menu ul, .footer-bottom .widget.widget_nav_menu .header-navigation ul {
        background-color: #fff;
        float: none;
        left: -15px;
        margin-top: 62px;
        padding: 15px 0 0 0;
        position: absolute;
        right: -15px;
        z-index: 99999; }
        .header-complex .header-navigation .nav, .header-complex .header-navigation .footer-top .widget.widget_nav_menu ul, .footer-top .widget.widget_nav_menu .header-complex .header-navigation ul, .header-complex .header-navigation .footer-bottom .widget.widget_nav_menu ul, .footer-bottom .widget.widget_nav_menu .header-complex .header-navigation ul {
          margin-top: -15px;
          padding: 0 15px; }
        .header-navigation .nav li, .header-navigation .footer-top .widget.widget_nav_menu ul li, .footer-top .widget.widget_nav_menu .header-navigation ul li, .header-navigation .footer-bottom .widget.widget_nav_menu ul li, .footer-bottom .widget.widget_nav_menu .header-navigation ul li {
          display: block;
          margin: 0;
          float: none; }
          .header-navigation .nav li.menu-item-has-children > a:after, .header-navigation .footer-top .widget.widget_nav_menu ul li.menu-item-has-children > a:after, .footer-top .widget.widget_nav_menu .header-navigation ul li.menu-item-has-children > a:after, .header-navigation .footer-bottom .widget.widget_nav_menu ul li.menu-item-has-children > a:after, .footer-bottom .widget.widget_nav_menu .header-navigation ul li.menu-item-has-children > a:after {
            content: '\f054';
            display: block;
            float: right;
            font-family: 'FontAwesome';
            font-size: 9px;
            margin-top: 4px; }
          .header-navigation .nav li.menu-item-has-children.touched > .sub-menu, .header-navigation .footer-top .widget.widget_nav_menu ul li.menu-item-has-children.touched > .sub-menu, .footer-top .widget.widget_nav_menu .header-navigation ul li.menu-item-has-children.touched > .sub-menu, .header-navigation .footer-bottom .widget.widget_nav_menu ul li.menu-item-has-children.touched > .sub-menu, .footer-bottom .widget.widget_nav_menu .header-navigation ul li.menu-item-has-children.touched > .sub-menu {
            display: block;
            opacity: 1;
            transition: opacity .15s linear;
            visibility: visible; }
          .header-navigation .nav li.active a, .header-navigation .footer-top .widget.widget_nav_menu ul li.active a, .footer-top .widget.widget_nav_menu .header-navigation ul li.active a, .header-navigation .footer-bottom .widget.widget_nav_menu ul li.active a, .footer-bottom .widget.widget_nav_menu .header-navigation ul li.active a {
            background-color: #fff; }
            .header-navigation .nav li.active a:hover, .header-navigation .footer-top .widget.widget_nav_menu ul li.active a:hover, .footer-top .widget.widget_nav_menu .header-navigation ul li.active a:hover, .header-navigation .footer-bottom .widget.widget_nav_menu ul li.active a:hover, .footer-bottom .widget.widget_nav_menu .header-navigation ul li.active a:hover {
              color: #00a1e0; }
          .header-navigation .nav li a, .header-navigation .footer-top .widget.widget_nav_menu ul li a, .footer-top .widget.widget_nav_menu .header-navigation ul li a, .header-navigation .footer-bottom .widget.widget_nav_menu ul li a, .footer-bottom .widget.widget_nav_menu .header-navigation ul li a {
            border-bottom: 1px solid #f7f7f7;
            border-radius: 0;
            color: #363636;
            display: block;
            float: none;
            font-size: 13px;
            padding: 10px 20px !important;
            transition: all .15s linear; }
            .header-navigation .nav li a:hover, .header-navigation .footer-top .widget.widget_nav_menu ul li a:hover, .footer-top .widget.widget_nav_menu .header-navigation ul li a:hover, .header-navigation .footer-bottom .widget.widget_nav_menu ul li a:hover, .footer-bottom .widget.widget_nav_menu .header-navigation ul li a:hover {
              color: #00a1e0; }
          .header-navigation .nav li > ul, .header-navigation .footer-top .widget.widget_nav_menu ul li > ul, .footer-top .widget.widget_nav_menu .header-navigation ul li > ul, .header-navigation .footer-bottom .widget.widget_nav_menu ul li > ul, .footer-bottom .widget.widget_nav_menu .header-navigation ul li > ul {
            display: none;
            margin: 0;
            padding: 0; }
            .header-navigation .nav li > ul > li, .header-navigation .footer-top .widget.widget_nav_menu ul li > ul > li, .footer-top .widget.widget_nav_menu .header-navigation ul li > ul > li, .header-navigation .footer-bottom .widget.widget_nav_menu ul li > ul > li, .footer-bottom .widget.widget_nav_menu .header-navigation ul li > ul > li {
              background-color: rgba(0, 0, 0, 0.03) !important; }
              .header-navigation .nav li > ul > li a, .header-navigation .footer-top .widget.widget_nav_menu ul li > ul > li a, .footer-top .widget.widget_nav_menu .header-navigation ul li > ul > li a, .header-navigation .footer-bottom .widget.widget_nav_menu ul li > ul > li a, .footer-bottom .widget.widget_nav_menu .header-navigation ul li > ul > li a {
                background-color: transparent !important; } }

@media (min-width: 768px) {
  .header-nav-primary.nav, .footer-top .widget.widget_nav_menu ul.header-nav-primary, .footer-bottom .widget.widget_nav_menu ul.header-nav-primary {
    padding: 0;
    position: relative;
    z-index: 300; }
    .header-nav-primary.nav .fa, .footer-top .widget.widget_nav_menu ul.header-nav-primary .fa, .footer-bottom .widget.widget_nav_menu ul.header-nav-primary .fa {
      font-size: 8px;
      margin-left: 10px;
      vertical-align: 2px; }
    .header-nav-primary.nav > li.has-children > a:after, .footer-top .widget.widget_nav_menu ul.header-nav-primary > li.has-children > a:after, .footer-bottom .widget.widget_nav_menu ul.header-nav-primary > li.has-children > a:after {
      content: "\f078";
      display: inline-block;
      font-family: 'FontAwesome';
      font-size: 8px;
      -webkit-font-smoothing: antialiased;
      margin-left: 10px;
      vertical-align: 2px; }
    .header-nav-primary.nav > li > a, .footer-top .widget.widget_nav_menu ul.header-nav-primary > li > a, .footer-bottom .widget.widget_nav_menu ul.header-nav-primary > li > a {
      padding: 20px 17px; }
    .header-nav-primary.nav > li li.has-children > a:after, .footer-top .widget.widget_nav_menu ul.header-nav-primary > li li.has-children > a:after, .footer-bottom .widget.widget_nav_menu ul.header-nav-primary > li li.has-children > a:after {
      content: "\f054";
      display: block;
      font-family: 'FontAwesome';
      font-size: 8px;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%); } }

.header-action {
  display: inline-block;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: -35px;
  z-index: 100; }
  .header-action.open .header-action-inner i {
    transform: rotate(45deg); }
  @media (max-width: 767px) {
    .header-action {
      display: none; } }
  @media (max-width: 991px) {
    .header-complex .affix .header-action {
      display: none; } }
  .header-complex .header-action {
    bottom: 23px; }
  .affix .header-action {
    bottom: -33px; }
    .header-complex .affix .header-action {
      bottom: -47px; }
    .header-regular .affix .header-action {
      display: none; }

.header-action-inner {
  background-color: #00a1e0;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  transition: all .15s linear; }
  .header-regular .header-action-inner {
    width: 35px; }
  .header-complex .header-action-inner {
    padding: 0 14px; }
  .header-action-inner i {
    color: #fff; }
    .header-complex .header-action-inner i {
      margin-right: 6px; }
  .header-regular .header-action-inner span {
    display: none; }
  .header-action-inner:hover, .header-action-inner:focus {
    background-color: #0491c7;
    color: #fff;
    text-decoration: none; }
  .header-action-inner .icon-plus:before {
    background-color: #fff;
    content: '';
    height: 1px;
    width: 40px; }

.navbar-toggle {
  border: 0;
  border-radius: 0;
  float: right;
  margin: 14px 0; }
  .navbar-toggle .icon-bar {
    background-color: #b8b8b8; }
  .navbar-toggle:after {
    display: none; }
  .navbar-toggle:active, .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: #f7f7f7 !important; }

@media screen and (min-width: 767px) {
  .header-nav-primary.nav > li:last-child .sub-menu, .footer-top .widget.widget_nav_menu ul.header-nav-primary > li:last-child .sub-menu, .footer-bottom .widget.widget_nav_menu ul.header-nav-primary > li:last-child .sub-menu {
    left: -120px; }
  .header-nav-primary.nav > li:last-child .sub-menu:after, .footer-top .widget.widget_nav_menu ul.header-nav-primary > li:last-child .sub-menu:after, .footer-bottom .widget.widget_nav_menu ul.header-nav-primary > li:last-child .sub-menu:after {
    left: 84%; }
  .header-nav-primary.nav > li:nth-last-child(2) .sub-menu, .footer-top .widget.widget_nav_menu ul.header-nav-primary > li:nth-last-child(2) .sub-menu, .footer-bottom .widget.widget_nav_menu ul.header-nav-primary > li:nth-last-child(2) .sub-menu {
    left: -120px; }
  .header-nav-primary.nav > li:nth-last-child(2) .sub-menu:after, .footer-top .widget.widget_nav_menu ul.header-nav-primary > li:nth-last-child(2) .sub-menu:after, .footer-bottom .widget.widget_nav_menu ul.header-nav-primary > li:nth-last-child(2) .sub-menu:after {
    left: 84%; } }

@media (min-width: 767px) and (max-width: 991px) {
  .header-regular .header-navigation .nav > li > a, .header-regular .header-navigation .footer-top .widget.widget_nav_menu ul > li > a, .footer-top .widget.widget_nav_menu .header-regular .header-navigation ul > li > a, .header-regular .header-navigation .footer-bottom .widget.widget_nav_menu ul > li > a, .footer-bottom .widget.widget_nav_menu .header-regular .header-navigation ul > li > a {
    padding: 32px 15px 31px 15px; }
  .header-navigation .nav > li .sub-menu li a, .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu li a, .footer-top .widget.widget_nav_menu .header-navigation ul > li .sub-menu li a, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu li a, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li .sub-menu li a {
    padding: 9px 15px; }
  .header-navigation .nav > li .sub-menu, .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu, .footer-top .widget.widget_nav_menu .header-navigation ul > li .sub-menu, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li .sub-menu {
    width: 200px; }
  .header-regular .header-wrapper > div.container:first-child, .header-regular .detail-banner .header-wrapper > div.detail-banner-right.affix:first-child, .detail-banner .header-regular .header-wrapper > div.detail-banner-right.affix:first-child {
    width: 100% !important; }
  .header-regular .header-bar > div.container:first-child, .header-regular .detail-banner .header-bar > div.detail-banner-right.affix:first-child, .detail-banner .header-regular .header-bar > div.detail-banner-right.affix:first-child {
    width: 100% !important; } }

@media (min-width: 767px) and (max-width: 876px) {
  .header-navigation .nav > li .sub-menu, .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu, .footer-top .widget.widget_nav_menu .header-navigation ul > li .sub-menu, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li .sub-menu {
    width: 180px; } }

@media (min-width: 767px) and (max-width: 800px) {
  .header-navigation .nav > li .sub-menu, .header-navigation .footer-top .widget.widget_nav_menu ul > li .sub-menu, .footer-top .widget.widget_nav_menu .header-navigation ul > li .sub-menu, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li .sub-menu, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li .sub-menu {
    width: 150px; } }

@media (min-width: 768px) {
  .header-navigation .nav > li:last-child .sub-menu li:hover > .sub-menu, .header-navigation .footer-top .widget.widget_nav_menu ul > li:last-child .sub-menu li:hover > .sub-menu, .footer-top .widget.widget_nav_menu .header-navigation ul > li:last-child .sub-menu li:hover > .sub-menu, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li:last-child .sub-menu li:hover > .sub-menu, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li:last-child .sub-menu li:hover > .sub-menu,
  .header-navigation .nav > li:nth-last-child(2) .sub-menu li:hover > .sub-menu,
  .header-navigation .footer-top .widget.widget_nav_menu ul > li:nth-last-child(2) .sub-menu li:hover > .sub-menu, .footer-top .widget.widget_nav_menu
  .header-navigation ul > li:nth-last-child(2) .sub-menu li:hover > .sub-menu,
  .header-navigation .footer-bottom .widget.widget_nav_menu ul > li:nth-last-child(2) .sub-menu li:hover > .sub-menu, .footer-bottom .widget.widget_nav_menu
  .header-navigation ul > li:nth-last-child(2) .sub-menu li:hover > .sub-menu {
    display: block;
    left: -220px;
    margin: 0;
    opacity: 1;
    top: 0;
    transition: none;
    visibility: visible; } }

@media screen and (min-width: 877px) and (max-width: 992px) {
  .header-navigation .nav > li:last-child .sub-menu li:hover > .sub-menu, .header-navigation .footer-top .widget.widget_nav_menu ul > li:last-child .sub-menu li:hover > .sub-menu, .footer-top .widget.widget_nav_menu .header-navigation ul > li:last-child .sub-menu li:hover > .sub-menu, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li:last-child .sub-menu li:hover > .sub-menu, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li:last-child .sub-menu li:hover > .sub-menu,
  .header-navigation .nav > li:nth-last-child(2) .sub-menu li:hover > .sub-menu,
  .header-navigation .footer-top .widget.widget_nav_menu ul > li:nth-last-child(2) .sub-menu li:hover > .sub-menu, .footer-top .widget.widget_nav_menu
  .header-navigation ul > li:nth-last-child(2) .sub-menu li:hover > .sub-menu,
  .header-navigation .footer-bottom .widget.widget_nav_menu ul > li:nth-last-child(2) .sub-menu li:hover > .sub-menu, .footer-bottom .widget.widget_nav_menu
  .header-navigation ul > li:nth-last-child(2) .sub-menu li:hover > .sub-menu {
    left: -200px !important; } }

@media screen and (min-width: 801px) and (max-width: 876px) {
  .header-navigation .nav > li:last-child .sub-menu li:hover > .sub-menu, .header-navigation .footer-top .widget.widget_nav_menu ul > li:last-child .sub-menu li:hover > .sub-menu, .footer-top .widget.widget_nav_menu .header-navigation ul > li:last-child .sub-menu li:hover > .sub-menu, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li:last-child .sub-menu li:hover > .sub-menu, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li:last-child .sub-menu li:hover > .sub-menu,
  .header-navigation .nav > li:nth-last-child(2) .sub-menu li:hover > .sub-menu,
  .header-navigation .footer-top .widget.widget_nav_menu ul > li:nth-last-child(2) .sub-menu li:hover > .sub-menu, .footer-top .widget.widget_nav_menu
  .header-navigation ul > li:nth-last-child(2) .sub-menu li:hover > .sub-menu,
  .header-navigation .footer-bottom .widget.widget_nav_menu ul > li:nth-last-child(2) .sub-menu li:hover > .sub-menu, .footer-bottom .widget.widget_nav_menu
  .header-navigation ul > li:nth-last-child(2) .sub-menu li:hover > .sub-menu {
    left: -180px !important; } }

@media screen and (min-width: 767px) and (max-width: 800px) {
  .header-navigation .nav > li:last-child .sub-menu li:hover > .sub-menu, .header-navigation .footer-top .widget.widget_nav_menu ul > li:last-child .sub-menu li:hover > .sub-menu, .footer-top .widget.widget_nav_menu .header-navigation ul > li:last-child .sub-menu li:hover > .sub-menu, .header-navigation .footer-bottom .widget.widget_nav_menu ul > li:last-child .sub-menu li:hover > .sub-menu, .footer-bottom .widget.widget_nav_menu .header-navigation ul > li:last-child .sub-menu li:hover > .sub-menu,
  .header-navigation .nav > li:nth-last-child(2) .sub-menu li:hover > .sub-menu,
  .header-navigation .footer-top .widget.widget_nav_menu ul > li:nth-last-child(2) .sub-menu li:hover > .sub-menu, .footer-top .widget.widget_nav_menu
  .header-navigation ul > li:nth-last-child(2) .sub-menu li:hover > .sub-menu,
  .header-navigation .footer-bottom .widget.widget_nav_menu ul > li:nth-last-child(2) .sub-menu li:hover > .sub-menu, .footer-bottom .widget.widget_nav_menu
  .header-navigation ul > li:nth-last-child(2) .sub-menu li:hover > .sub-menu {
    left: -150px !important; } }

/**
 * 7. Listings
 */
.listing-container {
  float: left;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%; }

.listings-row {
  clear: both;
  margin-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px; }

.listings-row:last-of-type {
  margin-bottom: 0; }

.listings-row:before, .listings-row:after {
  content: " ";
  display: table; }

.listings-row:after {
  clear: both; }

.listing-container:last-of-type .listing-row {
  margin-bottom: 0; }

.listing-row-image, .listing-row-body, .listing-row-properties {
  display: table-cell;
  vertical-align: top; }

.listing-row-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  position: relative;
  width: 30%; }

.listing-row-body {
  padding: 20px; }

.listing-row-properties {
  padding: 30px;
  width: 260px; }

.listing-row-properties dl {
  margin: 0;
  padding: 0; }

.listing-row-properties dt {
  clear: left;
  float: left;
  line-height: 36px; }

.listing-row-properties dd {
  color: #444;
  clear: right;
  line-height: 36px;
  text-align: right; }

.listing-row-properties dd:last-child {
  border-bottom: 0; }

.listing-row {
  background-color: #fff;
  display: table;
  overflow: hidden;
  width: 100%; }
  .listing-row.featured {
    border: 1px solid #00a1e0; }
  .listing-row:hover {
    opacity: 1;
    padding-top: 0; }
  .listing-row:hover .listing-row-image:before {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-backface-visibility: hidden; }

.listing-row-image, .listing-row-body, .listing-row-properties {
  position: relative; }
  @media (max-width: 1199px) {
    .listing-row-image, .listing-row-body, .listing-row-properties {
      display: block; } }

.listing-row-image-link {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  border-bottom: 0 !important; }

.listing-row-image {
  position: relative;
  overflow: hidden; }
  .listing-row-image:before {
    background: -webkit-linear-gradient(top, rgba(54, 54, 54, 0) 0%, rgba(54, 54, 54, 0.9) 70%);
    background: linear-gradient(to bottom, rgba(54, 54, 54, 0) 0%, rgba(54, 54, 54, 0.9) 70%);
    content: '';
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    transition: all ease .35s;
    z-index: 0; }
  .listing-row-image:after {
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1; }
  @media (max-width: 1199px) {
    .listing-row-image {
      width: 100%; } }

.listing-row-body {
  padding: 30px; }

@media (max-width: 1199px) {
  .listing-row-properties {
    padding-top: 0;
    width: 100%; } }

.listing-row-title {
  border: 0 !important;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0; }
  .listing-row-title a {
    border: 0 !important;
    color: #363636;
    text-transform: initial; }

.listing-row-properties dt {
  font-weight: 400; }

.listing-row-properties dd {
  border-bottom: 1px dashed #e9e9e9; }
  .listing-row-properties dd a {
    border: 0 !important; }

.listing-row-content a {
  border: 0 !important; }

.listing-row-content p {
  text-align: left; }

.listing-row-rating {
  color: #ffd925; }

.listing-row-label-bottom {
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 0;
  color: #363636;
  font-size: 13px;
  left: 50%;
  padding: 3px 15px;
  position: absolute;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  white-space: nowrap;
  z-index: 2; }


    /*****************************************************************
 * Listing small
 *****************************************************************/
 .listing-small,.listing-row  {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0; }

.listing-small {
  background-color: #fff;
  border: none;
  display: table;
  height: 80px;
  table-layout: fixed;
  width: 100%; }
  
  .listing-small:hover .listing-small-image a {
    background-color: rgba(54, 54, 54, 0.7);
    opacity: 1; }

.listing-small-image {
  display: table-cell;
  vertical-align: top;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px; }

.listing-small-content {
  display: table-cell;
  padding-left: 20px;
  vertical-align: middle; }

.listing-small-title {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .listing-small-title a {
    color: #444;
    transition: all linear .15s; }
    .listing-small-title a:hover {
      color: #00a1e0 !important; }
    .footer .listing-small-title a {
      color: rgba(255, 255, 255, 0.6) !important; }
      .footer .listing-small-title a:hover {
        color: #00a1e0 !important; }

.listing-small-location {
  font-size: 11px;
  margin-top: 5px;
  position: relative; }
  .listing-small-location a {
    color: #868686; }
    .footer .listing-small-location a {
      color: rgba(255, 255, 255, 0.3) !important; }
      .footer .listing-small-location a:hover {
        color: #00a1e0 !important; }

.listing-small-price {
  color: #00a1e0;
  font-size: 12px;
  font-weight: 400;
  margin-top: 7px; }


.listing-small-image {
  position: relative; }
  .listing-small-image a {
    height: 100%;
    display: block;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: all linear .2s;
    width: 100%; }
    .listing-small-image a:hover:before {
      background-color: #00a1e0;
      color: #fff; }
    .listing-small-image a:before {
      background-color: #fff;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      border-radius: 50%;
      border: 0 solid #fff;
      color: #363636;
      content: "\f06e";
      display: inline-block;
      font-family: 'FontAwesome';
      height: 30px;
      padding-top: 5px;
      position: relative;
      text-align: center;
      transition: all linear .2s;
      width: 30px; }

/**
 * 8. Buttons
 */
.btn, button {
  border: 0;
  border-radius: 0;
  min-height: 40px;
  padding: 9px 15px;
  position: relative;
  transition: background-color .15s linear; }
  .btn:after,  button:after{
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%; }
.btn-date{
  padding:6px 12px;
  position: none;
  min-height: 10px;
  border-radius: 4px;
  border:1px solid transparent;
}


.btn-primary, .button,  button{
  background-color: #00a1e0;
  display: inline-block;
  padding: 9px 15px;
  transition: background-color .15s linear; }
  .btn-primary:active, .button:active,  .btn-primary:focus, .button:focus, .btn-primary:hover, .button:hover{
    background-color: #0491c7 !important;
    box-shadow: none !important;
    outline: 0 !important;
    text-decoration: none; }

.btn-primary, .button, button{
  color: #fff;
   }
.btn-upload{
  color: #fff;
  background-color: #0aab9a !important;
  border-radius: 10px;
  }
  .btn-upload:hover{
    color: #fff;
    background-color: #099384 !important;
    border-radius: 10px;
  }

/**
 * 9. Job Listing
 */
.jobs-detail-listing ul{
  margin-bottom:20px;
  overflow:hidden;padding:0;position:relative
}

.jobs-detail-listing .listing-inner{
  border-top:1px solid #f0f1f2;
  padding:8px 0 10px
}

.jobs-detail-listing li i{
  color:#333;
  display:inline-block;
  font-size:16px;
  vertical-align:middle;
  width:25px
}

.jobs-detail-listing.jobs-detial-listing-custom .cs-text{
  width:70%;
}

.jobs-detail-listing .cs-text{
  display:inline-block;
  line-height:15px;
  vertical-align:middle
}

.jobs-detail-listing .cs-text strong{
  color:#333;
  font-size:12px;
  font-weight:400;
  text-transform:capitalize
}

.jobs-detail-listing span{
  color:#616161;
  display:block;
  font-size:12px;
  font-weight:normal;
  margin:0 0 5px
}


/**
 * 9. Profile sidebar // need to review and change
 */
.sidebar_dashboard ul.menu {
  background-color: #fff;
  padding: 10px 20px; }
  .sidebar_dashboard ul.menu li:last-child {
    border-bottom: 0; }

    .box-shadow, .cmb-form, .header-action-inner, .widget.widget_filter form, .widget.widget_booking_form form, .sidebar_dashboard ul.menu, .widget_listings .listing-carousel.owl-carousel .owl-prev, .widget_listings .listing-carousel.owl-carousel .owl-next, .widget_packages .packages, .listing-categories-card,
.listing-types-card, .listing-categories-card-image i,
.listing-types-card-image i, .pagination .page-numbers, .marker-thumbnail, .listing-box, .listing-column, .listing-column-label-special, .listing-row, .listing-small, .listings-system-legend li, .listings-system-legend a, .listing-system, .listing-author, .listing-author-image, .listing-detail-section-content-wrapper, .listing-detail-gallery-wrapper, .listing-detail-section-generic .listing-detail-section-content-wrapper,
.listing-detail-description-wrapper, .listing-detail-attributes, .listing-detail-contact, .listing-detail-section-faq-list, .listing-detail-property-price-comparison, .listing-detail-property-amenities ul li a, .widget_listing_details, .listing-detail-gallery-preview .owl-item div img, .listing-detail-section-generic .taxonomy_multicheck a,
.listing-detail-section-generic .taxonomy_multicheck_inline a,
.listing-detail-section-generic .taxonomy_multicheck_hierarchy a, .listing-detail-location-wrapper, .opening-hours, .listing-detail-food-wrapper, .listing-detail-resume-working-history dl, .listing-detail-resume-experience, .post-meta, .post.post-masonry .post-masonry-content, .faq-item, .review-image, .review-inner, .comment-form,  .submission-choose-type, .package-info-wrapper, .watchdog-row, .coupon-small, .coupon-box, .widget_coupon_detail, .invoices-table, .transactions-table, .inventor-slider-list .owl-prev, .inventor-slider-list .owl-next, .compare-table-label-special, #compare-info, ul.collections, #collection-pickup {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0; }

.widget.widget_archive ul li, .widget.widget_categories ul li, .widget.widget_pages ul li, .widget.widget_nav_menu ul li, .widget.widget_recent_entries ul li, .widget.widget_meta ul li {
  border-bottom: none;
  padding-bottom: 0; }
  .widget.widget_archive ul li a, .widget.widget_categories ul li a, .widget.widget_pages ul li a, .widget.widget_nav_menu ul li a, .widget.widget_recent_entries ul li a, .widget.widget_meta ul li a {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    color: #868686;
    line-height: 26px;
    display: block;
    padding-bottom: 8px;
    transition: all .15s linear; }
    .widget.widget_archive ul li a:hover, .widget.widget_categories ul li a:hover, .widget.widget_pages ul li a:hover, .widget.widget_nav_menu ul li a:hover, .widget.widget_recent_entries ul li a:hover, .widget.widget_meta ul li a:hover {
      color: #00a1e0;
      padding-left: 5px; }
    .widget.widget_archive ul li a strong, .widget.widget_categories ul li a strong, .widget.widget_pages ul li a strong, .widget.widget_nav_menu ul li a strong, .widget.widget_recent_entries ul li a strong, .widget.widget_meta ul li a strong {
      color: #00a1e0;
      font-size: 11px; }
    .widget.widget_archive ul li a i, .widget.widget_categories ul li a i, .widget.widget_pages ul li a i, .widget.widget_nav_menu ul li a i, .widget.widget_recent_entries ul li a i, .widget.widget_meta ul li a i {
      color: #363636;
      margin-right: 5px; }
  .widget.widget_archive ul li:last-child a, .widget.widget_categories ul li:last-child a, .widget.widget_pages ul li:last-child a, .widget.widget_nav_menu ul li:last-child a, .widget.widget_recent_entries ul li:last-child a, .widget.widget_meta ul li:last-child a {
    border-bottom: 0; }
  .widget.widget_archive ul li li, .widget.widget_categories ul li li, .widget.widget_pages ul li li, .widget.widget_nav_menu ul li li, .widget.widget_recent_entries ul li li, .widget.widget_meta ul li li {
    padding-left: 20px; }
    .widget.widget_archive ul li li:last-child a, .widget.widget_categories ul li li:last-child a, .widget.widget_pages ul li li:last-child a, .widget.widget_nav_menu ul li li:last-child a, .widget.widget_recent_entries ul li li:last-child a, .widget.widget_meta ul li li:last-child a {
      border-bottom: 1px dashed rgba(0, 0, 0, 0.1); }


.widget ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .widget ul li {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    padding: 8px 0; }



/**
 * 9. Profile  // need to review and change
 */
  h3.cmb2-metabox-title {
  font-size: 21px;
  font-weight: 400;
  margin: 20px 0 20px 0;
  padding: 0 0 10px 0;
  border-bottom: solid 1px #f7f7f7;
  position: relative; 
  color: #505050;}
  h3.cmb2-metabox-title:after {
    content: '';
    display: inline-block;
    background-color: #00a1e0;
    position: absolute;
    top: 28px;
    left: 0;
    height: 2px;
    width: 25px; }


/**
 * 13. Listing author
 */
.listing-author {
  background-color: #fff;
  padding: 20px;
  text-align: center; }

.listing-author-image {
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center center;
  border: 4px solid #f7f7f7;
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  margin-bottom: 10px;
  width: 100px; }
  .listing-author-image img {
    border-radius: 50%;
    overflow: hidden;
    visibility: hidden; }

.listing-author-name {
  color: #868686;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 10px; }
  .listing-author-name a {
    color: #868686; }
    .listing-author-name a:hover {
      color: #00a1e0; }

.listing-author-contact {
  margin-bottom: 20px; }
  .listing-author-contact a {
    border-bottom: 1px solid #00a1e0;
    display: inline-block;
    font-size: 13px;
    margin: 0 5px; }

.listing-author-social {
  border-top: 1px solid #e9e9e9;
  padding: 16px 0 0 0; }
  .listing-author-social i {
    border-radius: 50%;
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    margin: 4px;
    text-align: center;
    width: 32px; }




/**
 * 34. Submission
 */

.widget .submission-steps{
  box-shadow: : none; }
  .widget .submission-steps .submission-step a {
    color: #868686; 
    transition: all .15s linear; 
    text-decoration: none !important;}
    .widget .submission-steps .submission-step a:hover {
      color: #00a1e0;
      padding-left: 5px;}
  .widget .submission-steps .submission-step .submission-step-index {
    border-radius: 50%;
    color: #00a1e0;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 10px 0 0;
    text-align: center;
    vertical-align: 0;
    width: 24px; }
  .widget .submission-steps .submission-step:last-child {
    border-bottom: 0;
    margin-bottom: 20px; }
  .widget .submission-steps .submission-step.current .submission-step-index {
    background-color: #00a1e0;
    color: #fff;
    font-size: 12px; }
    .widget .submission-steps .submission-step.current .submission-step-index .dot {
      display: none; }
  .widget .submission-steps .submission-step {
    opacity: .65; }
.widget .submission-steps .active .submission-step-index {
  background-color: #00a1e0;
  color: #fff;
  font-size: 12px;
  transition: all .15s linear;  }
.widget .submission-steps .active  {
    opacity: 1; }

.widget.widget_nav_menu ul .current-menu-item i{
  color:#00a1e0;
}



/*****************************************************************
 * Listing system
 *****************************************************************/
.listings-system-legend {
  float: left;
  margin: 8px 15px 25px 0;
  padding: 0; }
  .listings-system-legend li, .listings-system-legend a {
    color: #fff;
    float: left;
    font-size: 12px;
    line-height: 20px;
    list-style: none;
    margin: 0 15px 0 0;
    padding: 5px 10px;
    text-align: center; }
    .listings-system-legend li:before, .listings-system-legend a:before {
      color: #fff;
      font-family: FontAwesome;
      display: inline-block;
      padding-right: 8px; }
    .listings-system-legend li.published, .listings-system-legend a.published {
      background-color: #8dc63f; }
      .listings-system-legend li.published:before, .listings-system-legend a.published:before {
        content: '\f00c'; }
    .listings-system-legend li.in-review, .listings-system-legend a.in-review {
      background-color: #ffd925; }
      .listings-system-legend li.in-review:before, .listings-system-legend a.in-review:before {
        content: '\f128'; }
    .listings-system-legend li.disabled, .listings-system-legend a.disabled {
      background-color: #d81814; }
      .listings-system-legend li.disabled:before, .listings-system-legend a.disabled:before {
        content: '\f023'; }

.listing-system {
  background-color: #fff;
  display: table;
  margin: 0 0 30px 0;
  position: relative;
  width: 100%; }

.listing-system-row {
  background-color: #fff;
  display: table-row;
  overflow: hidden;
  position: relative; }
  .listing-system-row:hover .listing-system-row-image a {
    background-color: rgba(54, 54, 54, 0.7);
    opacity: 1; }
    .listing-system-row:hover .listing-system-row-image a:after {
      opacity: 1; }

.listing-system-row-image,
.listing-system-row-info,
.listing-system-row-actions,
.listing-system-row-submission-actions {
  display: table-cell;
  vertical-align: middle; }

@media (max-width: 991px) {
  .listing-system-row-info, .listing-system-row-actions, .listing-system-row-submission-actions {
    display: block; } }

.listing-system-row-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  overflow: hidden;
  position: relative;
  width: 25%; }
  .listing-system-row-image a {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 0 !important;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
    .listing-system-row-image a.img {
      background-size: 211px 120px;
    }
    .listing-system-row-image a:after {
      background-color: #fff;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
      border-radius: 50%;
      color: #676767;
      content: "\f002";
      display: inline-block;
      font-family: 'FontAwesome';
      font-size: 15px;
      height: 40px;
      left: 50%;
      opacity: 0;
      line-height: 40px;
      position: absolute;
      text-align: center;
      transition: all linear .2s;
      width: 40px; }
    .listing-system-row-image a:hover:after {
      font-size: 26px;
      height: 57px;
      line-height: 57px;
      width: 57px; }

.listing-system-row-info {
  padding: 20px; 
  width: 150px; }

.listing-system-row-title {
  font-size: 16px; }
  .listing-system-row-title a {
    border: 0 !important;
    color: #363636;
    font-weight: 400; }
    .listing-system-row-title a:hover {
      color: #00a1e0; }

.listing-system-row-location {
  font-size: 12px;
  margin: 2px 0 10px 0;
  padding-left: 13px;
  position: relative; }
  .listing-system-row-location a {
    border: 0 !important;
    color: #868686; }
    .listing-system-row-location a:hover {
      color: #00a1e0; }
  .listing-system-row-location:before {
    color: #868686;
    content: '\f041';
    line-height: 14px;
    font-family: FontAwesome;
    font-size: 12px;
    left: 0;
    padding: 1px;
    position: absolute; }
    :hover .listing-system-row-location:before {
      color: #00a1e0; }

.listing-system-row-additional {
  color: #b8b8b8;
  font-size: 12px;
  margin: 5px 0 0 0; }
  .listing-system-row-additional i {
    margin-right: 2px; }

.listing-system-row-listing-type {
  background-color: #e9e9e9;
  color: #676767;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin: 4px 0 0 0;
  padding: 6px 14px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: -4px; }
  .listing-system-row-listing-type i {
    margin-right: 3px; }

.listing-system-row-submission-actions {
  width: 270px;
  padding-right: 20px; }
  @media (max-width: 991px) {
    .listing-system-row-submission-actions {
      padding-left: 20px; } }
  .listing-system-row-submission-actions button {
    background-color: #fff;
    border: 1px solid #ececec;
    box-shadow: none;
    color: #676767;
    display: block;
    font-size: 11px;
    font-weight: 400;
    height: 28px;
    line-height: 26px;
    min-height: 28px;
    margin: 5px 0 !important;
    padding: 0 10px;
    text-align: left;
    text-transform: inherit;
    transition: all .15s linear;
    width: 100%;
    white-space: normal; }
    .listing-system-row-submission-actions button.disabled {
      color: #676767 !important;
      border-color: #f4f4f4;
      padding-right: 27px; }
      .listing-system-row-submission-actions button.disabled:hover {
        color: #676767 !important;
        border-color: #f4f4f4; }
      .listing-system-row-submission-actions button.disabled:after {
        color: #8dc63f;
        content: "\f00c";
        display: inline-block;
        font-family: fontawesome;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
        left: initial;
        top: 0;
        right: 6px;
        width: auto; }
    .listing-system-row-submission-actions button:after {
      background-color: initial; }
    .listing-system-row-submission-actions button:hover {
      background-color: #fff !important;
      border-color: #00a1e0;
      color: #00a1e0; }
      .listing-system-row-submission-actions button:hover span {
        background-color: #00a1e0; }
    .listing-system-row-submission-actions button span {
      background-color: #CECECE;
      border-radius: 0;
      color: #fff;
      display: inline-block;
      float: right;
      font-size: 11px;
      line-height: 12px;
      margin: 0 -10px 0 0;
      padding: 7px 5px;
      top: 0 !important;
      transition: all .15s linear;
      vertical-align: 1px; }

.listing-system-row-actions {
  padding: 20px 20px 20px 0;
  text-align: right;
  width: 1px;
  white-space: nowrap; }
  .listing-system-row-actions a {
    border: 0 !important;
    color: #b8b8b8;
    font-size: 12px;
    margin: 0 0 0 20px; }
    .listing-system-row-actions a i {
      border: 1px solid rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      color: rgba(0, 0, 0, 0.25);
      font-size: 11px;
      height: 22px;
      line-height: 21px;
      margin: 0 10px 0 0;
      text-align: center;
      vertical-align: 2px;
      width: 22px; }
    .listing-system-row-actions a:hover {
      color: #868686; }
      .listing-system-row-actions a:hover i {
        border: 1px solid rgba(0, 0, 0, 0.4);
        color: rgba(0, 0, 0, 0.4); }

.listing-button-delete:hover {
  color: #d81814 !important; }
  .listing-button-delete:hover i {
    border-color: #d81814 !important;
    color: #d81814 !important; }


.ribbon {
  background-color: #8dc63f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  left: 0;
  padding: 6px 15px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  z-index: 100; }
  .ribbon .fa {
    transform: rotate(45deg); }
  .ribbon.warning {
    background-color: #ffd925; }
  .ribbon.draft {
    background-color: #d81814; }


.sub_skill{
  padding-left: 50px;
  font-weight: normal;
}

