@media only screen and (max-width: 2960px) {
    .leftwelcm__img {
        height: 707px;
    }

    .close_mobsign, .desktp__hide {
        display: none;
    }

    .close_mobsign, .desktp__hide {
        display: none;
    }

    .signin__form h1, .signup__form h1 {
        font-size: 26px;
    }

    .phell__txt {
        font-size: 17px;
    }

    .signin__form label.control-label, .form__iptsignup label.control-label {
        font-size: 16px;
    }

    .form__iptsignin input.form-control, .form__iptsignup input.form-control {
        font-size: 14px;
    }

    .frgt__pas a {
        font-size: 16px;
    }

    .signinbtn, .signinbtnfb, .signinbtngogl {
        font-size: 14px;
    }

    .or__txt {
        font-size: 15px;
    }

    .signupbtn {
        font-size: 14px;
    }

    .errorstyl {
        font-size: 14px;
    }

    .acc__txt {
        font-size: 16px;
    }

    .h6txt__wel {
        font-size: 17px;
    }

    .h5txtdelv {
        font-size: 21px;
    }

    .bus__succ, .retn__custtxt {
        font-size: 17px;
    }

    .or__span {
        font-size: 15px;
    }

    .redcircle {
        vertical-align: bottom;
    }

    .delv__txt {
        font-size: 23px;
    }

    .errorstyl {
        font-size: 12px;
    }

    .signin__form h1, .signup__form h1 {
        font-size: 17px;
    }

    .phell__txt {
        font-size: 13px;
    }

    .txtwelcm__dets {
        left: 280px;
        top: 236px;
    }
}

@media only screen and (max-width: 2048px) {
    .leftwelcm__img {
        height: 566px;
    }

    .txtwelcm__dets {
        left: 162px;
        top: 163px;
    }

    .h5txtdelv {
        margin-bottom: 27px;
    }

    .signin__form h1, .signup__form h1 {
        font-size: 24px;
    }

    .phell__txt {
        font-size: 16px;
    }

    .signin__form label.control-label, .form__iptsignup label.control-label {
        font-size: 15px;
    }
}


@media only screen and (max-width: 1920px) {
    .delv__txt {
        font-size: 21px;
    }

    .phell__txt {
        font-size: 15px;
    }

    .signin__form h1, .signup__form h1 {
        font-size: 23px;
    }

    .signin__form label.control-label, .form__iptsignup label.control-label {
        font-size: 14px;
    }

    .leftwelcm__img {
        height: 530px;
    }

    .txtwelcm__dets {
        left: 145px;
        top: 150px;
    }

    .errorstyl {
        font-size: 13px;
    }

    .frgt__pas a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1680px) {
    .redcircle {
        vertical-align: middle;
    }

    .delv__txt {
        font-size: 18px;
    }

    .txtwelcm__dets {
        left: 89px;
        top: 121px;
    }

    .or__span {
        font-size: 14px;
    }

    .leftwelcm__img {
        height: 461px;
    }

    .phell__txt {
        font-size: 14px;
    }

    .or__txt {
        font-size: 14px;
    }

    .signin__form h1, .signup__form h1 {
        font-size: 22px;
    }

    .signinbtn, .signinbtnfb, .signinbtngogl {
        font-size: 13px;
    }

    .form__iptsignin input.form-control, .form__iptsignup input.form-control {
        font-size: 13px;
    }

    .delv__txt {
        font-size: 19px;
    }

    .acc__txt {
        font-size: 15px;
    }

    .or__span {
        font-size: 14px;
    }

    .signupbtn {
        font-size: 13px;
    }
}


@media only screen and (max-width: 1600px) {
    .leftwelcm__img {
        height: 439px;
    }

    .txtwelcm__dets {
        left: 70px;
        top: 122px;
    }

    .h5txtdelv {
        margin-bottom: 21px;
    }

    .h6txt__wel {
        font-size: 16px;
    }

    .h5txtdelv {
        font-size: 19px;
    }

    .bus__succ, .retn__custtxt {
        font-size: 16px;
    }
}


@media only screen and (max-width: 1536px) {
    .redcircle {
        vertical-align: bottom;
    }

    .txtwelcm__dets {
        left: 50px;
        top: 116px;
    }

    .delv__txt {
        font-size: 17px;
    }

    .leftwelcm__img {
        height: 426px;
    }
}

@media only screen and (max-width: 1440px) {
    .leftwelcm__img {
        height: 394px;
    }

    .frgt__pas a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1366px) {
    .leftwelcm__img {
        height: 375px;
    }

    .txtwelcm__dets {
        left: 37px;
        top: 101px;
    }

    .redcircle {
        vertical-align: middle;
    }

    .h6txt__wel {
        font-size: 14px;
    }

    .bus__succ, .retn__custtxt {
        font-size: 15px;
    }

    .h5txtdelv {
        font-size: 18px;
    }
}


@media only screen and (max-width: 1344px) {
    .leftwelcm__img {
        height: 369px;
    }

    .signin__form h1, .signup__form h1 {
        font-size: 20px;
    }

    .delv__txt {
        font-size: 16px;
    }

    .errorstyl {
        font-size: 12px;
    }

    .signin__form h1, .signup__form h1 {
        font-size: 17px;
    }

    .phell__txt {
        font-size: 13px;
    }

    .signinbtnfb img, .signinbtngogl img {
        height: 35px;
    }

    .signinbtnfb span, .signinbtngogl span {
        padding-top: 7px;
    }

    .soc__fb img {
        height: 35px;
    }
}

@media only screen and (max-width: 1280px) {
    .leftwelcm__img {
        height: 350px;
    }

    .txtwelcm__dets {
        left: 28px;
        top: 91px;
    }
}

@media only screen and (max-width: 1200px) {
    .leftwelcm__img {
        height: 330px;
    }

    .signin__form h1, .signup__form h1 {
        font-size: 18px;
    }

    .h5txtdelv {
        font-size: 17px;
    }

    .txtwelcm__dets {
        left: 28px;
        top: 86px;
    }
}

@media only screen and (max-width: 1152px) {
    .signupbtn {
        padding: 7px 23px;
    }

    .delv__txt {
        padding-left: 11px;
    }

    .leftwelcm__img {
        height: 317px;
    }

    .div__headsignin {
        width: 96%;
    }

    .txtwelcm__dets {
        left: 23px;
        top: 79px;
    }

    .pass__btneye .material-icons {
        font-size: 21px;
    }
}


@media only screen and (max-width: 1136px) {
    .signin__form {
        width: 82%;
    }

    .leftwelcm__img {
        height: 335px;
    }

    .algnimg {
        width: 97%;
    }

    .txtwelcm__dets {
        top: 84px;
    }

    .delv__txt {
        font-size: 15px;
    }
}


@media only screen and (max-width: 1080px) {
    .leftwelcm__img {
        height: 319px;
    }

    .txtwelcm__dets {
        top: 80px;
    }

    .redcircle {
        width: 31px;
        height: 31px;
    }
}

@media only screen and (max-width: 1024px) {
    .leftwelcm__img {
        height: 302px;
    }

    .bus__succ, .retn__custtxt {
        font-size: 14px;
    }

    .h5txtdelv {
        font-size: 16px;
    }

    .txtwelcm__dets {
        top: 72px;
    }

    .signinbtnfb img, .signinbtngogl img {
        height: 31px;
    }

    .signinbtnfb span, .signinbtngogl span {
        padding-top: 6px;
    }
}

@media only screen and (max-width: 853px) {
    .algnimg {
        width: 100%;
    }

    .signin__form {
        width: 92%;
        margin: auto 0px 0px 10px;
    }

    .leftwelcm__img {
        height: 257px;
    }

    .acc__txt {
        font-size: 14px;
    }

    .signupbtn {
        font-size: 12px;
    }

    .bus__succ, .retn__custtxt {
        font-size: 13px;
    }

    .signinbtn {
        padding: 10px 33px;
    }

    .or__txt {
        font-size: 13px;
    }

    .frgt__pas a {
        font-size: 13px;
    }

    .signinbtn, .signinbtnfb, .signinbtngogl {
        font-size: 12px;
    }

    .txtwelcm__dets {
        top: 65px;
    }

    .h5txtdelv {
        margin-bottom: 15px;
    }

    .h5txtdelv {
        font-size: 15px;
    }

    .h6txt__wel {
        font-size: 13px;
    }
}

@media only screen and (max-width: 800px) {
    .txtwelcm__dets {
        top: 58px;
    }

    .signinbtnfb img, .signinbtngogl img {
        height: 29px;
    }

    .leftwelcm__img {
        height: 243px;
    }

    .signin__form h1, .signup__form h1 {
        font-size: 17px;
    }
}

@media only screen and (max-width: 768px) {
    .leftwelcm__img {
        height: 232px;
    }

    .bus__succ, .retn__custtxt {
        font-size: 12px;
    }

    .signin__form label.control-label, .form__iptsignup label.control-label {
        font-size: 13px;
    }

    .pass__btneye .material-icons {
        font-size: 19px;
    }

    .h5txtdelv {
        font-size: 14px;
    }

    .signin__form h1, .signup__form h1 {
        font-size: 16px;
    }

    .signupbtn {
        padding: 6px 20px;
    }

    .h6txt__wel {
        font-size: 12px;
    }

    .acc__txt {
        font-size: 13px;
    }

    .signinbtn, .signinbtnfb, .signinbtngogl {
        font-size: 11px;
    }

    .signinbtnfb span, .signinbtngogl span {
        padding-top: 6.8px;
    }
}

@media only screen and (max-width: 767px) {
    .leftwelcm__img {
        height: 409px;
    }

    .signin__form {
        width: 64%;
        margin: 0 auto;
    }

    .bus__succ, .retn__custtxt {
        font-size: 16px;
    }

    .txtwelcm__dets {
        left: 84px;
        top: 69px;
    }

    .h6txt__wel {
        font-size: 16px;
    }

    .h5txtdelv {
        font-size: 20px;
    }

    .algnimg {
        margin-bottom: 20px;
        padding-top: 5px;
    }

    .leftimg__css {
        padding-right: 0px;
    }

    .sect__two {
        padding-bottom: 4%;
    }
}

@media only screen and (max-width: 750px) {
    .txtwelcm__dets {
        left: 53px;
        top: 66px;
    }

    .leftwelcm__img {
        height: 398px;
    }
}

@media only screen and (max-width: 736px) {
    .bus__succ, .retn__custtxt {
        font-size: 15px;
    }

    .h5txtdelv {
        font-size: 18px;
    }

    .h6txt__wel {
        font-size: 14px;
    }

    .h5txtdelv {
        margin-bottom: 20px;
    }

    .leftwelcm__img {
        height: 390px;
    }

    .txtwelcm__dets {
        left: 75px;
        top: 61px;
    }

    .signinbtn, .signinbtnfb, .signinbtngogl {
        font-size: 12px;
    }

    .signinbtnfb span, .signinbtngogl span {
        padding-top: 4.8px;
    }
}

@media only screen and (max-width: 731px) {


}

@media only screen and (max-width: 720px) {


}

@media only screen and (max-width: 667px) {
    .leftwelcm__img {
        height: 355px;
    }

    .bus__succ, .retn__custtxt {
        font-size: 14px;
    }

    .h5txtdelv {
        font-size: 17px;
    }

    .h6txt__wel {
        font-size: 13px;
    }

    .txtwelcm__dets {
        left: 45px;
        top: 53px;
    }

    .delv__txt {
        font-size: 14px;
    }

    .signupbtn {
        font-size: 11px;
    }

    .acc__txt {
        font-size: 12px;
    }

    .signinbtnfb span, .signinbtngogl span {
        padding-top: 6.8px;
    }

    .signin__form h1, .signup__form h1 {
        font-size: 18px;
    }

    .phell__txt {
        font-size: 14px;
    }
}

@media only screen and (max-width: 568px) {
    .leftwelcm__img {
        height: 302px;
    }

    .phell__txt {
        font-size: 15px;
    }

    .signin__form label.control-label, .form__iptsignup label.control-label {
        font-size: 14px;
    }

    .signin__form {
        width: 70%;
    }

    .txtwelcm__dets {
        left: 33px;
        top: 39px;
    }

    .div__headsignin {
        width: 100%;
    }

    .signinbtnfb span, .signinbtngogl span {
        padding-top: 5.8px;
    }

    .h5txtdelv {
        margin-bottom: 15px;
    }

    .signupbtn {
        padding: 5px 16px;
    }

    .bus__succ, .retn__custtxt {
        font-size: 13px;
    }

    .h5txtdelv {
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    .leftwelcm__img {
        height: 257px;
    }

    .txtwelcm__dets {
        left: 84px;
        top: 9px;
    }

    .desktp__hide {
        display: block;
    }

    .mobhide__styl {
        display: none;
    }

    .signin__form h1, .signup__form h1 {
        font-size: 20px;
    }

    .signin__form {
        width: 80%;
    }

    .close_mobsign {
        position: relative;
        display: block;
    }

    .sect__two {
        padding-top: 2%;
    }

    .h5txtdelv {
        font-size: 19px;
    }

    .h6txt__wel {
        font-size: 14px;
    }

    .bus__succ, .retn__custtxt {
        font-size: 15px;
    }

    .close_mobsign a {
        position: absolute;
        top: 26px;
        color: #000000;
        z-index: 1000;
        left: 17px;
        font-size: 20px;
    }

    .close_mobsign a i {
        color: #000000;
        font-weight: bold;
        font-size: 24px;
    }

    .signmob__hide {
        display: none;
    }

    .acc__txt {
        font-size: 11px;
    }

    .signupbtn {
        padding: 5px 12px;
    }

    .signinbtn {
        padding: 9px 33px;
    }

    .sect__two {
        padding-bottom: 6%;
    }

    .signin__form {
        width: 90%;
    }

    .phell__txt {
        margin-bottom: 15px;
    }

    .signin__form h1 {
        font-size: 24px;
        margin-top: -43px;
        margin-bottom: 13px;
    }
}

@media only screen and (max-width: 414px) {
    .delv__txt {
        font-size: 13px;
        padding-left: 5px;
    }

    .leftwelcm__img {
        height: 221px;
    }

    .bus__succ, .retn__custtxt {
        font-size: 14px;
    }

    .h5txtdelv {
        font-size: 18px;
    }

    .txtwelcm__dets {
        left: 69px;
        top: 19px;
    }

    .close_mobsign a {
        top: 34px;
    }

    .signup__form h1 {
        font-size: 18px;
    }

    .close_mobsign a i {
        font-size: 21px;
    }
}

@media only screen and (max-width: 411px) {


}

@media only screen and (max-width: 375px) {


}

@media only screen and (max-width: 360px) {


}

@media only screen and (max-width: 340px) {


}

@media only screen and (max-width: 320px) {


}
