@media only screen and (max-width: 2560px) {
.hero-wrap {
    height: 910px;
}
.how__row {
    margin-top: 70px;
    margin-bottom: 70px;
}
}
@media only screen and (max-width: 2048px) {

}
@media only screen and (max-width: 1920px) {
.footer__bg span button {
    margin-left: 520px;
}
.our__benefits {
    padding-left: 20px;
}
.service__span1 {
    padding-left: 225px;
}
}
@media only screen and (max-width: 1680px) {

}
@media only screen and (max-width: 1600px) {

}
@media only screen and (max-width: 1536px) {

}
@media only screen and (max-width: 1440px) {
.how__row {
    margin-right: 0;
}
}
@media only screen and (max-width: 1366px) {
body {
    max-width: unset;
    margin: unset;
}
.hero__content1 p:nth-child(1) {
    font-size: 40px;
    width: 325px;
}
.hero__content1 p:nth-child(2) {
    font-size: 14px;
}
.hero__content2 p:nth-child(1) {
    font-size: 35px;
    max-width: 520px;
}
.hero__content2 p:nth-child(2) {
    font-size: 14px;
}
.hero-wrap {
    height: 845px;
}
.service__span1 p:nth-child(1) {
    font-size: 35px;
}
.our__benefits p:nth-child(1) {
    font-size: 35px;
}
.how__p p:nth-child(1) {
    font-size: 35px;
}
.footer__bg span p:nth-child(1) {
    font-size: 35px;
}
.footer__bg span button {
    margin-left: 500px;
}
.service__span1 {
    padding-left: 175px;
}
















}
@media only screen and (max-width: 1360px) {

}
@media only screen and (max-width: 1344px) {
.footer__bg span button {
    margin-left: 475px;
}
.service__span1 {
    padding-left: 175px;
}
.how__img img {
    padding-left: 30px;
}
}
@media only screen and (max-width: 1280px) {
.hero__content1 p:nth-child(1) {
    font-size: 32px;
    width: 260px;
}
.hero-wrap .overlay {
    height: 660px;
}
.hero__content1 {
    top: 250px;
    max-width: 1020px;
}
.hero-wrap .overlay1 {
    top: 245px;
}
.hero__content2 p:nth-child(1) {
    font-size: 32px;
    max-width: 470px;
}
.hero__content2 p:nth-child(2) {
    font-size: 14px;
    line-height: 20px;
}
.service__span1 p:nth-child(1) {
    font-size: 32px;
}
.our__benefits p:nth-child(1) {
    font-size: 32px;
}
.how__p p:nth-child(1) {
    font-size: 32px;
}
.our__img img {
    width: 65px;
}
.footer__bg span p:nth-child(2) {
    font-size: 20px;
    line-height: normal;
    color: #70727e;
}
.footer__bg span p:nth-child(1) {
    font-size: 32px;
}
.footer__bg span button {
    margin-left: 455px;
}
.service__span1 {
    padding-left: 135px;
}
.navbar__inverse .navbar-nav>.active>a, .navbar__inverse .navbar-nav>.active>a:focus, .navbar__inverse .navbar-nav>.active>a:hover {
    font-size: 15px;
}
.navbar__inverse .navbar-nav .rounded__in a {
    font-size: 12px;
}
.navbar__inverse .navbar-nav .rounded__up a {
    font-size: 12px;
}













}
@media only screen and (max-width: 1200px) {
.service__span1 {
    padding-left: 95px;
}
.footer__bg span button {
    margin-left: 370px;
}
}
@media only screen and (max-width: 1152px) {

}
@media only screen and (max-width: 1136px) {

}
@media only screen and (max-width: 1080px) {

}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 962px) {

}
@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 864px) {

}
@media only screen and (max-width: 853px) {

}
@media only screen and (max-width: 800px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 750px) {

}
@media only screen and (max-width: 736px) {

}
@media only screen and (max-width: 731px) {

}
@media only screen and (max-width: 720px) {

}
@media only screen and (max-width: 667px) {

}
@media only screen and (max-width: 640px) {

}
@media only screen and (max-width: 601px) {

}
@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 568px) {

}
@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 414px) {

}
@media only screen and (max-width: 411px) {

}
@media only screen and (max-width: 375px) {

}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 340px){

}
@media only screen and (max-width: 320px){

}