body{
	font-family: 'Montserrat', sans-serif;
	max-width: 1440px;
    margin: auto;
}
a:focus, a:hover {
    text-decoration: unset;
}
.owl__theme .owl-nav button span img:focus, .owl__theme .owl-nav button span img:hover{
	outline: none;
}
.owl-carousel .owl-nav button.owl-next:focus, .owl-carousel .owl-nav button.owl-prev:focus{
	outline: none;	
}
.navbar__inverse{
	background: transparent !important;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 3;
    border: transparent;
    max-width: 1130px;
    margin: auto;
}
.hero-wrap {
    width: 100%;
    height: -webkit-fill-available;
    position: relative;
    z-index: 1;
}
.hero-wrap .overlay {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/web/hero-bg.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 730px;
}
.hero-wrap .overlay1 {
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/web/hero-bg2.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: -webkit-fill-available;
}
.seprate__menu{
	margin-right: 100px;
}
.navbar__inverse .navbar-nav>.active>a, .navbar__inverse .navbar-nav>.active>a:focus, .navbar__inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar__inverse .navbar-nav>li>a {
    color: #ffffff;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
    font-size: 16px;
}
.navbar__inverse .navbar-nav .rounded__in a{
	border: 1px solid #fff;
    padding: 7px 15px;
    border-radius: 20px;
    font-weight: normal;
    font-size: 14px;
}
.navbar__inverse .navbar-nav .rounded__up a{
    border: 1px;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: normal;
    font-size: 14px;
    background-image: linear-gradient(to right, #03cbc2 , #541fbe);
}
.rounded__in, .rounded__up{
	margin:5px;
}
.hero__content1{
	position: inherit;
    /* left: 250px; */
    top: 310px;
    max-width: 1110px;
    margin: auto;
}
.hero__content1 p:nth-child(1) {
    font-size: 50px;
    color: #145090;
    width: 410px;
    line-height: normal;
}
.hero__content1 p:nth-child(2) {
    width: 345px;
    font-size: 16px;
    color: #616161;
    line-height: normal;
}
.hero__content1 p:nth-child(3) a {
margin: 0;
    border: 0px;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #03cbc2 , #541fbe);
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.11);
    margin-top: 25px;
}
.hero__content2{
    position: inherit;
    top: 450px;
    max-width: 756px;
    margin: auto;
    text-align: center;
}
.hero__content2 p:nth-child(1){
	font-size: 40px;
    max-width: 550px;
    margin: auto;
    color: #145090;
    line-height: normal;
}
.hero__content2 p:nth-child(2){
    font-size: 16px;
    color: #70727e;
    line-height: normal;
    margin-top: 10px;
}
.our__services{
	position: relative;
    top: 0;
    z-index: 1000;
    display: flex;
}
.service__span1{
	width: 40%;
	padding-left: 195px;
	padding-top: 130px;
}
.service__span2{
	width: 60%;
	padding-top: 100px;
}
.service__span1 p:nth-child(1)::before {
    content: '';
    height: 6px;
    width: 50px;
    background: #145090;
    position: absolute;
    top: 110px;
}
.service__span1 p:nth-child(1){
	font-size: 40px;
    width: 165px;
    line-height: normal;
    color: #145090;
}
.service__span1 p:nth-child(2){
	    width: 230px;
    font-size: 14px;
    line-height: normal;
    color: #70727e;
}
.our__services{
    background-image: url(../images/web/rectangle.png);
    background-position: -160px 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 525px;
}
.owl__theme .item span img{
    width: 40%;
    margin: auto;
    padding-top: 60px;
}
.owl__theme .item{
    text-align: center;
    background: #fff;
    height: 280px;
    /*width: 230px;*/
    border-radius: 10px;
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.09);
    position: relative;
}
.owl__theme .owl-nav button{
	background: #fff !important;
    border-radius: 50% !important;
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.09);
}
.owl__theme .owl-nav button span img{
	padding: 15px;
	width: 45px;
}
.owl-carousel .owl-stage-outer .owl-stage {
    left: -60px;
    height: -webkit-fill-available;
    margin-top: 10px;
}
.owl__theme{
	position: relative;
}
.owl__theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    top: -65px;
    right: 184px;
}
.owl__theme .item span:nth-child(2){
    position: absolute;
    bottom: 50px;
    left: 39%;
    font-weight: 700;
}
.our__benefits p:nth-child(1)::before {
    content: '';
    height: 6px;
    width: 50px;
    background: #145090;
    position: absolute;
    top: 15px;
}
.our__benefits p:nth-child(1) {
    font-size: 40px;
    width: 250px;
    line-height: normal;
    color: #145090;
}
.our__benefits p:nth-child(2) {
    width: 385px;
    font-size: 14px;
    line-height: normal;
    color: #70727e;
}
.our__img img{
    width: 85px;
        padding-top: 30px;
}
.our__img{
    text-align: center;
    height: 248px;
    width: 243px;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.13);
    border-radius: 10px;
    margin: 20px;
}
.our__content p:nth-child(1){
    max-width: 165px;
    margin: auto;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #000000;
}
.our__content p:nth-child(2){
    max-width: 229px;
    margin: auto;
    font-size: 14px;
    padding-top: 5px;
    letter-spacing: normal;
    line-height: normal;
    color: #8e8e93;
}
.our__row{
    max-width: 1080px;
    margin: auto;  
    padding-top: 115px;
}
.our__row2{
    max-width: 1080px;
    margin: auto;
}
.our__benefits{
    padding-top: 40px;
}

.how__img img{
        width: 100%;
}
.how__p p:nth-child(1) {
    font-size: 40px;
    line-height: normal;
    color: #145090;
}
.how__p p:nth-child(2) {
    font-size: 14px;
    line-height: normal;
    color: #70727e;
}
.how__imgs{
    display: flex;
    background-image: url(../images/web/how-rectangle.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 100px 50px;
    margin-top: 50px;
}
.how__imgs span{
    text-align: center;
        margin-right: 30px;
}
.how__imgs span p:nth-child(2){
    color: #8e8e93;
    width: 115px;
}
.how__imgs span p:nth-child(1) img{
    width: 60px;
}
.how-md-8{
padding-top: 30px;
}
.how__row{
    margin-top: 30px;
}
.footer__bg span p:nth-child(1){
    font-size: 40px;
    line-height: normal;
    color: #145090;
    padding-bottom: 35px;
}
.footer__bg span p:nth-child(2){
    font-size: 24px;
    line-height: normal;
    color: #70727e;
}
.footer__bg span{
    position: relative;
}
.footer__bg span p:nth-child(1)::after {
    content: '';
    height: 6px;
    width: 50px;
    background: #5856b6;
    position: absolute;
    top: 50px;
    left: 0;
    border-radius: 10px;
}
.footer__content{
        display: flex;
}
.footer__bg{

    background-image: url(../images/web/footer-bg.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    height: 650px;
    padding-top: 190px;
        position: relative;
}
.footer__bg span button{
    margin: 0;
    border: 0px;
    width: fit-content;
    padding: 12px 30px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #03cbc2 , #541fbe);
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.11);
    margin-top: 80px;
    margin-left: 560px;
}
.footer__inner span ul{
    display: flex;
}
.footer__inner span ul li{
    list-style: none;
    padding: 20px;
}
.footer__logo{
    padding: 0px;
}
.footer__inner .navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.footer__inner hr{
    margin:0px;
        padding-bottom: 25px;
}
.footer__copy p:nth-child(1){
    float: left;
}
.footer__copy p:nth-child(2){
    float: right;
}
.footer__inner{
    background-image: url(../images/web/footer.png);
    background-repeat: no-repeat;
    display: flow-root;
    background-position: 100% 100%;
    background-size: cover;
    height: 235px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 75px 150px;
    color: #fff;
}
.footer__inner .navbar-inverse .navbar-brand {
    color: #ffffff;
}
.footer__inner .navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
.footer__bg span:nth-child(1){
margin-left: 150px;
}
.no__imgfooter{
    background-image: unset; 
    background-repeat: unset; 
    background-position: unset; 
    background-size: unset; 
    height:unset; 
    padding-top: unset;
    position: relative;
}

.hero-wrap .overlay__sign{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/web/sign-bg.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 730px;
}
.navbar__inverse__sign .navbar-nav>li>a {
    color: #000000;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    font-size: 16px;
}
.hero-wrap .overlay1__sign {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/web/hero-bg2.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: -webkit-fill-available;
}
.navbar__inverse__sign .navbar-nav .rounded__up a {
    color: #fff;
    padding: 10px 16px;
    font-size: 12px;
}
.navbar__inverse__sign .navbar-nav .rounded__up a:focus, .navbar__inverse__sign .navbar-nav .rounded__up a:hover {
    color: #fff;
}
.navbar__inverse__sign .navbar-nav>li>a:focus, .navbar__inverse__sign .navbar-nav>li>a:hover {
    color: #000000;
    background-color: transparent;
}
.signup__img img{
    width: 80%;
    padding: 0px 40px;
    margin-top: 180px;
}
/* sign up */
.imgarea__signup {
    width: 72%;
    margin: auto 0 0 50px;
    padding-top: 10%;
}
.topsect__signup{
    padding-top: 5%;
    padding-bottom: 3%;
}
.signup__form .form-group{
    margin-bottom: 10px;
}
.signup__form{
    max-width: 375px;
    margin: auto;
    margin-top: 170px;
    margin-bottom: 80px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.16);
    border-radius: 10px;
}
.chkbx__agree{
    margin-bottom: 15px;
}
.img__signup{
    background-image: url(../images/signup/signup.png);
    background-size: cover;
    background-position: top center;
    height: 558px;
    background-repeat: no-repeat;   
}
.pbasic__txt{
    color: #000000;
    font-size: 14px;
    margin-bottom: 12px;
}
.chkbx__agree label span{
 color: #5ac8fa;    
}
.padrghtleft{
    padding-left: 0px;
    padding-right: 0px;
}
.customcheckoutlet {
    position: relative;
    padding-left: 33px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    color: #0090d8;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.customcheckoutlet .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #ffffff;
    border-radius: 0px;
    border: 1px solid #000000;
}
.customcheckoutlet input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.customcheckoutlet input:checked ~ .checkmark:after {
    display: block;
}
.chkbx__agree .checkbox label{
    padding-left: 36px;
}
.customcheckoutlet .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 11px;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* end of sign up */
/* sign in */
.redcircle{
 width: 35px;
  height: 35px;
  background-color: #a42922;
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
}
.signinup__dets{
    text-align: right;
}
.delv__txt{
    font-weight: 800;
    color: #ef7622;
    padding-left: 20px;
}
.div__headsignin{
    padding-top: 20px;
    width: 93%;
    margin: 0 auto;
}
.acc__txt{
    color: #000000;
    font-size: 15px;
    margin-right: 3%;
}
.soc__fb img{
height: 40px;
}
.soc__gogl img{
height: 40px;
}
.or__span{
    color: #000000;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}
.signupbtn:hover,.signupbtn:active,.signupbtn:focus{
    background-image: linear-gradient(to right, #f8ae47, #ef7622);
    color: #ffffff; 
}
.signinlogbtn:hover,.signinlogbtn:active,.signinlogbtn:focus{
    color: #ef7622;
}
.signinlogbtn{
border-radius: 20px;
border:1px solid #ef7622;
 background-color: #ffffff;
color: #ef7622;
 font-size: 13px;
 padding: 8px 38px;
 font-family: 'Montserrat', sans-serif; 
 margin-right: 15px;
}
.signupbtn{
 border-radius: 20px;
 background-image: linear-gradient(to right, #f8ae47, #ef7622);
 color: #ffffff;
 font-size: 13px;
 padding: 7px 18px;
 font-family: 'Montserrat', sans-serif;
}
.leftimg__css{
    padding-left: 0px;
}
.txtwelcm__dets{
    text-align: center;
}
.form__iptsignin .form-group{
    margin-bottom: 8px;
}
.algnimg{
    position: relative;
    width: 90%;
    margin: auto 0 0 0; 
    padding-top: 50px;
}
.leftwelcm__img{
    background-image: url(../images/signin/signin.png);
    background-size: cover;
    background-position: top center;
    height: 374px;
    background-repeat: no-repeat;
}
.txtwelcm__dets {
    position: absolute;
    left: 49px;
    top: 111px;
}
.h6txt__wel{
    color: #333333;
    font-size: 14px;
}
.h5txtdelv{
color: #ef7622; 
font-size: 18px;
}
.bus__succ,.retn__custtxt{
     color: #616161;
     margin-bottom: 5px;
}
.sect__two{
    padding-top: 4%;
}
.signin__form h1,.signup__form h1{
font-size: 22px;
    color: #145090;
    margin-top: 0px;
    font-weight: normal;
    margin-bottom: 12px;
}
.phell__txt{
    color: #8e8e93;
    font-size: 14px;
    margin-bottom: 12px;
}
.signin__form label.control-label,.form__iptsignup label.control-label{
    color: #8782b5;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    display: block;
    text-align: left;
    margin-bottom: 7px;
    font-size: 14px;
    padding-top: 0px;
}
.form__iptsignin input.form-control,.form__iptsignup input.form-control{
  border-radius: 3px;
  border: solid 1px #e5e5ea;
  background-color: #fcfcff;
  outline: none;
  box-shadow: unset;    
  font-size: 13px;
height: 40px;
  margin-bottom: 5px;
}
.form__iptsignin input.form-control:hover,
.form__iptsignin input.form-control:active,
.form__iptsignin input.form-control:focus,
.form__iptsignup input.form-control:hover,
.form__iptsignup input.form-control:active,
.form__iptsignup input.form-control:focus{
  outline: none;
  box-shadow: unset;    
  border-color: #e5e5ea;    
}
.form__iptsignin input.form-control::-webkit-input-placeholder,
.form__iptsignup input.form-control::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: #d1d1d6;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
.form__iptsignin input.form-control::-moz-placeholder,
.form__iptsignup input.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #d1d1d6;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
.form__iptsignin input.form-control:-ms-input-placeholder,
.form__iptsignup input.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #d1d1d6;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
.form__iptsignin input.form-control:-moz-placeholder,
.form__iptsignup input.form-control:-moz-placeholder { /* Firefox 18- */
  color: #d1d1d6;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
.pass__btneye {
    position: relative;
}
.btn-show-passtwo i.fa-eye {
    color: #acacac;
}
.btn-show-passtwo i.fa-eye-slash {
    color: #00a9ff;
}
.btn-show-passtwo {
    font-size: 15px;
    color: #999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: block;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.frgt__pas a{
    display: block;
    text-align: right;
    color: #007aff;
    margin-bottom: 10px;
}
.or__txt{
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
.imgman__succss{
    text-align: center;
}
.signinbtn{
    border-radius: 25px;
    color: #ffffff;
    font-size: 13px;
    padding: 13px 33px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
  background-color: #3023ae;
}
.signinbtn:hover,.signinbtn:active,.signinbtn:focus{
    color: #fff;
}
.signinbtnfb,.signinbtngogl{
    border-radius: 25px;
    color: #ffffff;
    font-size: 13px;
    padding: 4px 33px 4px 4px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.signinbtnfb:hover,.signinbtnfb:active,.signinbtnfb:focus,
.signinbtngogl:hover,.signinbtngogl:active,.signinbtngogl:focus{
    color: #fff;
}
.signinbtnfb{
  background-color: #4c76be;
  margin-bottom: 10px;
}
.signinbtngogl{
    background-color: #4384f4;
}
.signinbtnfb img,.signinbtngogl img{
    height: 40px;
    float: left;
}
.signinbtnfb span, .signinbtngogl span {
    display: block;
    padding-top: 10px;
}

.signin__form {
    max-width: 375px;
    margin: auto;
    margin-top: 170px;
    margin-bottom: 80px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.16);
    border-radius: 10px;
}
/* sign in end */

.no__imgfooter .footer__inner {
    background-image: url(../images/web/footer.png);
    background-repeat: no-repeat;
    display: flow-root;
    background-position: 100% 100%;
    background-size: cover;
    height: 235px;
    position: unset;
    bottom: unset;
    width: unset;
    padding: 75px 150px;
    color: #fff;
}
.errorstyl{
    display: none;
}
.success__block{
    max-width: 375px;
    margin: auto;
    text-align: center;
    z-index: 1000;
    position: relative;
    background: #fff;
    top: 170px;
    padding: 45px 25px 25px 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.16);
    border-radius: 10px;
    height: 525px;
}
.success__img img{
    width: 60%;
}
.success__content p:nth-child(1){
    font-size: 32px;
    color: #145090;
    padding-top: 30px;
    padding-bottom: 15px;
}
.success__content p:nth-child(2){
    width: 311px;
    margin: auto;
    font-size: 14px;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.success__content p:nth-child(3){
    color: #145090;
    padding-top: 30px;
    font-size: 14px;
}
.non__colaps {
    float: right;
    margin: 0;
}