.White-Color
{
	color: #fff;
}
.black-text
{
	color: #000;
}
.white-background
{
	background-color: #fff;
	position: relative;
	border: 1px solid #eaeaea;
}
.general-website-heading
{
	color: #dd2377;
}

.general-below-icon-heading
{
	color: #000;
}
.small-tag-color
{
	color: #dd2377;
}
.sea-green-bg
{
	background-color:#4fbeab;
}
.sea-green-bg p
{
	color: #fff;

}
.sea-blue-bg
{
	background-color: #70c9c5;
	z-index: 99;
}
.sea-blue-bg p
{
	color: #fff;
}


.backgd-color-white
{
	background-color: #fff;
		z-index: 10;
	border: 1px solid #eaeaea;
		
}
.backgd-color-gray
{
	background-color:#c0c0c0;

}
.backgd-color-Lightgray
{
	background-color:#dddddb;
    height: 50px;
	border-bottom: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
}
.backgroundGrayColor{background-color: #d2dcde;}
.backgroundWhiteColor{background-color: #fff;}











