.big-heading
{
  font-size: 51px;
  font-weight: 600;
  letter-spacing: 3px;
}
.normal-heading
{
font-size: 20px;
letter-spacing: 3px;

}
.text-center-in
{
	text-align: center;
}
.small-tag
{
   font-size: 0.7vw;
   letter-spacing: 3px;
}

/*start navbar fontsize styling*/
  .largreScreen-Navbar>li>a
   {
   	 font-size: 11px !important;
   	 font-weight: 700;
   	 padding: 15px 10px;
   }
   .mid-screen-navigation>li>a
   {
   	 font-size: 11px !important;
   	 font-weight: 700;
   	 padding: 15px 10px;
   }
/*end navbar fontsize styling*/

.general-website-heading
{
	font-size: 1.8vw;
	font-weight: 600;
	letter-spacing: 3px;
}
.general-below-icon-heading
{
	font-size: 1.0vw;
	font-weight: 600;
	letter-spacing: 0px;
}
.sea-green-bg p
{
	font-size: 14px;
	font-weight: 600;
	position: relative;
	top: 17px;
}
.sea-blue-bg p
{
	font-size: 14px;
	font-weight: 600;
	position: relative;
	top: 17px;
}
.light-gray-bg2 p
{
	font-size: 14px;
	font-weight: 600;
	position: relative;
	top: 17px;

}
.light-gray-bg p
{
	font-weight: 900;
	position: relative;
	top: 25px;
}
.backgd-color-Lightgray p
{
	font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 17px;
}
.text-bolder
{
	font-weight: 900;
	font-size: 18px;
}
#HowLittleIt
{
	font-size: 36px;
	line-height: 45px;
	font-weight: 600;
	letter-spacing: 3px;
}
.F-size
{
 font-size: 24px !important;
 position: relative;
 top: 3px;
 font-weight: 100;
}
.extra-big-heading
{
	font-size: 73px;
	font-weight: 600;
	letter-spacing: 3px;
	 
}
.bold-13px
{
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0px;
	line-height: 20px;
}
.bold-16px
{
	font-size: 13px;
	font-weight: 600;x;
	line-height: 20px;
	color: #dd2377;
}
.zero-left-padding
{
	padding-left: 0px;
}
.font-12px
{
	font-size: 11px;
}
.semi-bold-title{font-weight: 600;color: #000;}
.general-padding-down
{
	padding-bottom: 4%;
}
.heading-16-px
{
	font-size: 15px;
	font-weight: bold;
}
.data-size-13-px
{
	font-size:13px;

}
/*========================================================================================================*/
/*========================================================================================================*/
/*=========================ABOUTUS PAGE STYLING==========================================================*/

.second-aboutus-section
{
	width: 100%; 
	background-color: #df1175;
}

.about-icon-wrapper img
{
	width: 100%;
}
.aboutus-headings{
	font-size: 60px;
    font-weight: 700;
    padding-top: 10%;
}
#About_third_section
{
	width: 100%; 
	background-color: #70c9c5;
}
#aboutUs_heading
{
	font-size: 51px;
    font-weight: 600;
    letter-spacing: 3px;
    padding-top: 5%;
}
.aboutus-right-side-wrapper p
{
  line-height: 20px;
}
/*=========================END ABOUTUS PAGE STYLING==========================================================*/
/*========================================================================================================*/
/*========================================================================================================*/





/*========================================================================================================*/
/*========================================================================================================*/
/*=========================PROGRAM PREVIEW PAGE STYLING===================================================*/

#pro-p-1st-section{
	width: 100%;
}
#pro-p-2nd-section
{
   background: url(../../../assets/img/banner/pro-bg1.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#pro-p-3rd-section
{
	width: 100%;
  background: url(../../../assets/img/banner/bg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#Once{
	font-size: 17px;
    font-weight: 600;
}
.sub-heading{
	font-weight: 600;
	font-size: 16px;
}
.pad-bot-2
{
	padding-bottom: 6.5%;
}
#pro-p-4th-section
{
  width: 100%;
  background: url(../../../assets/img/banner/pro-bg3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.table-wrapper
{
	border:1px solid #eaeaea;
	width: 100%;
}
.table{display: table; width: 100%; background-color: #fff;margin-bottom: 0px;}
#header{
	width: 1007px;
    background-color: #dd2377;
    display: table-cell;
    height: 39px;
}

#location-col
{
	display: table-cell;
	vertical-align: top;
	width: 114px;
	border-bottom: 1px solid #eaeaea;
	height: 70px;
}
#time-col
{
	display: table-cell;
	vertical-align: top;
	width: 200px;
}
#day
{
	display: table-cell;
	vertical-align: top;
	width: 200px;
}
.time-data
{
	border-bottom: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	height: 60px;
}
.time-data p
{
    padding-top: 17px;
    padding-left: 12px;
    font-size: 14px;
}
#location-col p
{
	padding-top: 47px;
    font-size: 14px;
    font-weight: 600;
	text-align: center;
}
.FIXER
{
	padding-top: 10px;
	padding-left: 15px;
}
.header-table
{
	display: table;;
	width: 100%;
}
.header-heading-1
{
	display: table-cell;
    width: 114px;
    vertical-align: middle;
	border-right: 1px solid #eaeaea;
}
.header-heading-2
{
    display: table-cell;
    width: 200px;
    vertical-align: middle;
	border-right: 1px solid #eaeaea;
}
.header-heading-3
{
    display: table-cell;
    width: 200px;
    vertical-align: middle;
	border-right: 1px solid #eaeaea;
}
.header-heading-1, .header-heading-2, .header-heading-3 p
{
   color: #fff;
   font-size: 14px;
   padding-top: 9px;
   padding-left: 4px;
   font-weight: bold;
   text-align: center;

}
#pro-p-5th-section
{
	background-color: #e5e5e5;
	width: 100%;
}
.image-Warapper-map img{width: 90%;}
.White-bg-Wrapper
{
	background-color: #fff;
	padding: 0px;
   -webkit-box-shadow: 2px 3px 9px 0px rgba(0,0,0,0.31);
   -moz-box-shadow: 2px 3px 9px 0px rgba(0,0,0,0.31);
    box-shadow: 2px 3px 9px 0px rgba(0,0,0,0.31);
}
.customTable
{
	display: table;
	width: 100%;
	border-collapse:collapse;
	margin-top: 10px;
	margin-bottom: 10px;
}
.customTable-Row
{
	display: table-row;
}
.table-head-small 
{
	width: 100px;
	display: table-cell;
	padding-left: 15px;

}
.table-head-large
{
	width: 250px;
	display: table-cell;
	padding-left: 3px;
    padding-right: 15px;
    vertical-align: top;
}
.table-head-large-inner-wrapper, .table-head-small-inner-wrapper
{
	background-color: #80cacb;
	color: #fff;
	text-align: center;
	padding: 8px;
}
.table-cell-small-inner-wrapper, .table-cell-large-inner-wrapper
{
	background-color: #e5e5e5;
	color: #000;
	padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    
}
.table-cell-small
{
	width: 100px;
	display: table-cell;
	padding-left: 15px;
	vertical-align: top;
}
.table-cell-large
{
	width: 250px;
	display: table-cell;
	padding-left: 3px;
    padding-right: 15px;
    vertical-align: top;
}
#fix-height  {height:176px;}
#fix-height-2{height:76px;}
#fix-height-3{height:116px;}
.loc_Name
{
	text-align: center;
	display: block;
}
#fix-position
{
	position: absolute;
    top: 43%;
    left: 0;
    right: 0;
}
#fix-position-2
{
	position: absolute;
    top: 36%;
    left: 0;
    right: 0;
}
.time-line-img-wrapper img
{
  width: 100%;
}
#pro-p-7th-section
{
  background: url(../../../assets/img/banner/pro-bg4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}
.round-img-wrapper img
{
	width: 337px;
}
.holder
{
	padding-top: 15%;
}

/*=========================END PROGRAM PREVIEW PAGE STYLING===============================================*/
/*========================================================================================================*/
/*========================================================================================================*/




/*========= ================= VIDEO MODAL STYLING =================== ============================ ==============*/.
.shut-modal:hover
{
	color: #e90d8b;

}
/*========= ================= END VIDEO MODAL STYLING =================== ============================ ==============*/.