@media (max-width: 991px)
{
   .col-50
   {
   	  width: 100%;
   	  display: block;

   }
   .container-content-wrapper, .subscriber-table-no-one
   {
   	 padding-left: 15px;
   	 padding-right: 15px;
   }
   .sea-blue-bg, .backgd-color-white
   {
   	 z-index: 0;
   }
   #general-50px-height
   {
   	 z-index: 0;
   }
   
   
}