.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.mobile-nav-wrapper
{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.mobile-logo-wrapper
{
      width: 100%;
      padding-top: 1%;
      display: block;
      position: relative;
      left: 20%;
}


/*colors*/

 .largreScreen-Navbar>.active>a
 {
    background-color: #fff !important;
    color: #000 ;
 }
 .largreScreen-Navbar>li>a
 {
    color: #000 !important ;
 }
 .largreScreen-Navbar>li>a:hover
 {
    color: #dd2377 !important;
 }
 .largreScreen-Navbar>li>a:focus
 {
    color: #dd2377 !important;
 }


 .mid-screen-navigation>.active>a
 {
    background-color: #fff !important;
    color: #000 ;
 }
  .mid-screen-navigation>li>a
 {
    color: #000 !important ;
 }
.mid-screen-navigation>li>a:hover
 {
    color: #dd2377 !important;
 }
 .mid-screen-navigation>li>a:focus
 {
    color: #dd2377 !important;
 }


 .mid-screen-navigation>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
 {
    background-color: #fff;
 }

 .mobile-dropdown-menu
 {
     border:1px solid #dd2377;
    -webkit-box-shadow: 0px 21px 5px -4px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 21px 5px -4px rgba(0,0,0,0.57);
    box-shadow: 0px 21px 5px -4px rgba(0,0,0,0.57);
    background-color: #dd2377;

 }
 .mobile-dropdown-menu>li>a
 {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
 }