body {
    overflow-x: hidden;    
}
small {
    display: block;
}
#main-banner-Wrapper {
    overflow-x: hidden;
}
.big-heading, #aboutUs_heading {
    width: 40%;
    letter-spacing: 0;
}
.normal-heading {
    width: 35%;
}
.small-tag {
    font-size: 10px;
    display: block;
    letter-spacing: 0;
}
.banner-content-wrapper .small-tag {
    font-size: 8px;
    display: block;
    width: 30%;
}
.general-website-heading {
    font-size: 18px;
}
.home-btn {
    width: 100%;
}
.find-out-btn {
    margin: 15px 0;
    width: 100%;
}
.footer-black-bar {
    position: relative;
}
.footer-black-bar ul.black-footer-menu {
    padding: 0;
}
.footer-black-bar small.White-Color {
    display: block;
    margin-bottom: 10px;
}
.home_page_side_subheading_style, .home_small-below-title {
    padding-left: 0;
    letter-spacing: 0;
}
.general-below-icon-heading {
    font-size: 16px;
}
.sidenav a {
    font-size: 15px;
    font-weight: bold;
}
.about-icon-wrapper{
    text-align: center;
}
.about-icon-wrapper img {
    width: auto;
}

.customTable, .customTable-Row, .table-head-small, .table-head-large {
    height: 100%;
}
.table-head-large-inner-wrapper, .table-cell-large-inner-wrapper, #fix-height, #fix-height-2, #fix-height-3, .table-head-small-inner-wrapper, .table-cell-small-inner-wrapper {
    overflow: visible;
    height: 100%;
}
.table-wrapper table thead, .table.program-preview {
    font-weight: bold;
    text-align: center;
}
.table-wrapper table thead, .table.program-preview .bg-grey {
    background-color: #c0c0c0; 
}
.table-wrapper table thead, .table.program-preview .bg-pink {
    background-color: #dd2377;
    color: #fff;
}

.table-wrapper table tbody tr td, .table-wrapper table thead tr td {
    border: 1px solid #eaeaea;
}
.table-wrapper table tbody td {
    height: 60px;
    vertical-align: middle;
}
.table-wrapper table tbody tr td[rowspan]:nth-child(1) {
    text-align: center;
}

.table.program-preview td{
    border: 1px solid #eaeaea;
}
.table.program-preview thead td{
    vertical-align: middle;
    height: 68px;
}
.table.program-preview thead h4{
    font-size: 18px;
}
.table.program-preview thead h4 b, .table.program-preview thead h5 b{
    font-weight: 900;
}
.table.program-preview tbody tr td {
    background-color: #dddddb;
    font-weight: bold;
    height: 50px;
    vertical-align: middle;
}
.table.program-preview tbody tr td:nth-child(1), .bg-sea-green {
    background-color: #4fbeab;
    color: #fff;
}
.table.program-preview tbody tr td:nth-child(2), .bg-sea-blue {
    background-color: #70c9c5;
    color: #fff;
}
#HowLittleIt {
    letter-spacing: 0;
}
@media (max-width:768px){
    .footer-quick-links {
        padding-left: 15px;
    }
    #main-banner-Wrapper img {
        width: 150%;
    }
	.big-heading, #aboutUs_heading {
        font-size: 18px;
        width: 70%;
        margin-top: 0;
    }
    .normal-heading {
        font-size: 14px;
        width: 50%;
        letter-spacing: inherit;
    }
    section#timeline {
        width: 100%;
        margin: 0;
    }
    section#timeline article div.inner {
        width: 100%;
    }
    section#timeline article:nth-child(odd) div.inner h2:after, section#timeline article:nth-child(even) div.inner h2:after, section#timeline article div.inner span.date {
        display: none
    }
    .inner-wrapper {
        height: auto;
    }
    .transparent-btn {
        width: 100%;
        margin-bottom: 15px;
    }
    .home-page-text-wrapper {
        padding: 0
    }
    .home_page_side_heading_style, .home_page_side_heading_style-2, .aboutus-headings, #HowLittleIt {
        font-size: 30px;
        letter-spacing: 0;
    }
    section + section .normal-heading, section + section .big-heading {
        width: 100%;
    }
    .pink-button {
        width: 100%;
    }
    .footer-black-bar small.White-Color, .footer-black-bar .black-footer-menu {
        text-align: center;
    }
    .banner-content-wrapper .small-tag {
        width: 50%;
    }
}

@media (min-width:768px) and (max-width: 992px){
    #main-banner-Wrapper img {
        width: 100%;
    }
    .big-heading, #aboutUs_heading {
        font-size: 24px;
        width: 70%;
    }
    .normal-heading {
        font-size: 18px;
        width: 35%;
    }
    .banner-content-wrapper .small-tag {
        width: 30%;
    }
}
