
/*========= =================SUBSCRIBER PAGE STYLING =================== ============================ ==============*/.
/*general-styling*/
.general-padding-down
{
	padding-bottom: 4%;
}
.gene-padding-up-down
{
	padding-bottom: 4%;
	padding-top: 4%;
}
#general-50px-height
{
	height: 136px;
	z-index: 99;
}
.general-padding-top-3{padding-top: 3%;}
.white-bottomline
{
	border-bottom: 1px solid #eaeaea;
}
.text-middle
{
	display: block;
	text-align: center;
}
.general-padding-top
{
	padding-top: 14%;
}
.general-padding-down-3pr
{
	padding-bottom: 2%;
}
/*general-styling*/


/*start navbar styling*/
 .zero-margin-bottom-navbar
 {
 	margin-bottom: 0px !important;
 }
 #logo-img
 {
 	height: 36px;
    position: relative;
    bottom: 7px;
 }
 .icon-setting
 {
 	font-size: 16px !important;
    position: relative;
    top: 1px;
 }
 .general-padding-top-8
 {
 	padding-top: 8%;
 }
  .general-padding-5-down{padding-bottom: 5%;}
  .gene-position_relative{position: relative;}

  .gene-set-padding
  {
  	padding-top: 2%;
  }
  .navbar-default {
    background-color: #fff !important;
    border-color: #fff !important;
}
/*end navbar styling*/







/*start main banner styling*/

#main-banner-Wrapper
 {
   width: 100%;
   position: relative;
 }
 #main-banner-Wrapper img
 {
 	width: 100%;
 }
 .banner-content-wrapper
 {
 	width: 100%;
 	position: absolute;
 	top: 12%;
 }
.ElevenX-paddingBottom
{
	padding-bottom: 11%;
}


 /*end main banner styling*/





 /*start second-section*/
 #second-section
 {
 	width: 100%;
 }
 .container-content-wrapper
 {
 	padding-top: 4%;
 }
 /*end second-section*/




 /*start third section */
#third-section
 {
 	width: 100%;
 	background-color: #db2361;
 	
 	  background: url(../../../assets/img/banner/pink_texture.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
 .subscriber-table-no-one
 {
 	display: table;
 	width: 100%;
 }
 .col-50
 {
 	display: table-cell;
 	width: 50%;
 	vertical-align: top;
 }
 .sea-green-bg
 {
 	border-bottom: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
 	height: 50px;
 }
 .sea-blue-bg
 {
   	border-bottom: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
   	height: 50px;
 }
 .light-gray-bg
{
	background-color: #c0c0c0;
	border-right: 1px solid #eaeaea;
	height: 68px;
}
.light-gray-bg2
{
	 height: 50px;
	 background-color: #dddddb;
	 border-right: 1px solid #eaeaea;
	 border-bottom:1px solid #eaeaea;
}
#setting-up
{
	 position: relative;
	 top: 24%;
	 bottom: 0;

}
.setting-up2
{
	 position: relative;
	 top: 24%;
	 bottom: 0;
	
}
.setting-up2 h5
{
	 font-size: 18px !important;
}
.height-100
{
	 height: 100px;
}	
 /*end third section*/




 /*section-four*/
 #section-four
 {
 	background-color: #77ccc9;
 }
/*end four section*/



/*five section*/
#five-section
{
	background-color: #d8d8d8;
}
/*end five section*/


/*Start six-section*/
#six-section
{
	background-color: #e90d8b;
}

.video-button
{
	text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    display: block;
    margin: 0 auto;
    width: 300px;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    font-weight: 100;
    margin-bottom: 1%;
}
.video-button:hover
{
	text-decoration: none;
	color: #e90d8b;
	background-color: #fff;
	width: 350px;
	font-weight: 100;

}
/*End six-section*/

/*Star Seven Section*/
#seven-section
{
   
    background: url(../../../assets/img/banner/girl-with-phone.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
#DEALERseven-section
{
   
    background: url(../../../assets/img/banner/dealer-below-banner.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.inner-wrapper
{
	height: 860px;
	width: 100%;
}
.pink-button
{
	color: #fff;
	width: 245px;
	border:1px solid #e90d8b;
	background-color: #e90d8b;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	display: block;
	border-radius: 5px;
	letter-spacing: 1px;
    font-size: 11px;
}
.pink-button:hover
{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
.pink-button-wrapper
{
	padding-bottom: 3%;
	margin-top: 19px;
}

.icon-wrapper img
{
	width: 160px;
	display: block;
	margin: 0 auto;
}
.transparent-btn
{
	color: #000;
	background-color: transparent;
	border:1px solid #e90d8b; 
	width: 160px;
    padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	display: block;
	border-radius: 5px;
	letter-spacing: 1px;
    font-size: 11px;
    cursor: pointer;
}
.transparent-btn:hover
{
	color: ##e90d8b;
	text-decoration: none;
	cursor: pointer;
	color: #000;
}
/*End Seven Section*/

/*start eight-section*/
#eight-section
{
	width: 100%;
	padding-bottom: 42px;
}
.full-width-image
{
	padding-top: 3%;
}
.full-width-image img
{
	width: 100%;
}
.right-box
{
	border:1px solid #e90d8b;
	background-color: #e90d8b;
	padding-top: 11px;
	padding-bottom: 11px;
	-webkit-box-shadow: -1px 6px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 19px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 19px 0px rgba(0,0,0,0.75);
   
}
#pre-loc
{
	letter-spacing: 2px;
	font-size: 13px;
	padding-bottom: 4%;
}
.loc-list>li>a
{
	color: #fff;
	font-size: 14px;
	letter-spacing: 2px;

}
.loc-list>li>a:hover
{
	color: #000;
	background-color: #fff;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
	background-color: #fff !important;
	color: #000 !important;
}
.panel-default>.panel-heading
{
	background-color: #e5e5e5;
    border-color: #e5e5e5;
}
/*end eight-section*/



/*start footer*/
#footer
{
	background-color: #cdccca;
	position: relative;
}
.footer-heading
{
	font-size: 13px;
	font-weight: 600;
}
.footer-quick-links 
{
  padding-left: 0px;
}
.footer-quick-links li>a
{
  color: #000;
  font-size:11px;
  font-weight: 100;
}
.footer-quick-links li>a:hover
{
	text-decoration: none;
	color: #000;
}
.social-icons
{
	padding-left: 0px;
}
.social-icons >li
{
	list-style: none;
	display: inline-block;
}
.social-icons >li>a
{
	text-decoration: none;
	padding-right: 2px;
}
.social-icons >li>a img
{
	width: 27px;
}
.footer-black-bar
{
  position: absolute;
  bottom: 0px;
  background-color: #000;
  width: 100%;
  padding-bottom: 0px;
  padding-top: 6px;
}
#complaint
{
	font-size: 10px;
    padding-left: 12px;
    padding-top: 12px;
    font-weight: 600;
}
.footer-padding-down
{
	padding-bottom: 6%;
}
.black-footer-menu>li
{
	display: inline-block;
	padding-left: 5px;
	padding-top: 4px;

}
.black-footer-menu>li>a
{
	color: #fff;
	font-size: 10px;
}
.black-footer-menu>li>a:hover
{
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
/*end footer*/
/*========= ================= END SUBSCRIBER PAGE STYLING =================== ============================ ==============*/.






/*========= ================= CONTACT US PAGE STYLING =================== ============================ ==============*/.

#c-one-section, .formWrapper
{
	width: 100%
}
#c-two-section{width: 100%;}
.icon-wrapper2 img
{
   width: 160px;
   display: block;
   text-align: center;
   margin: 0 auto;
   padding-top: 16%;
}

.formWrapper{margin-top: 20px;margin-bottom: 20px;padding-right: 15px; padding-left: 15px;padding-top: 20px;padding-bottom: 20px;}
.text-code
{
	font-size: 30px;
	font-weight: 800;
}
.clickToChange
{
	display: block;
	margin: 0 auto;
    color: #dd2377;
    text-align: center;
}
.clickToChange:hover
{
	text-decoration: none;
	 color: #dd2377;
	 cursor: pointer;
}
.text-box-wrapper
{
	display: block;
	margin: 0 auto;
	width: 240px;
	margin-top: 10px;
	height: 40px;
	box-sizing: border-box;

}
#captcha-box
{
	width: 238px;
    height: 38px;
    outline: none !important;
    padding-right: 15px;
    padding-left: 15px;
}
.send-btn-wrapper
{
	display: block;
	width: 30%;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
	margin-top: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
	border:1px solid #dd2377;
	margin-bottom: 30px;
	cursor: pointer;

}
.send-btn-wrapper>a
{
	 color: #dd2377;

}
.send-btn-wrapper>a:hover
{
	 color: #dd2377;
	 text-decoration: none;
	 color: #dd2377;
}
.no-outline:focus
{
	outline: none !important;
}
/*========= ================= CONTACT US PAGE STYLING =================== ============================ ==============*/.




/*========= ================= DISTRIBUTER PAGE STYLING =================== ============================ ==============*/.


.setContainer
{
	padding-left: 15px;
	padding-right: 15px;
}
.middle-section
{
   background: url(../../../assets/img/banner/distributor-bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.distributer-icon-title
{
	font-weight: 600;
	color: #000;
   
}

/*========= ================= END DISTRIBUTER PAGE STYLING =================== ============================ ==============*/.




/*========= ================= HOME PAGE STYLING =================== ============================ ==============*/.
#home_first_section{width: 100%; background-color: #e5e5e5}
#home_second_section{
	width: 100%;
   background: url(../../../assets/img/banner/home-bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.home-page-icon-wrapper img{width: 100%;}
.home-page-text-wrapper{
	padding-top: 23%;
}
.home_page_side_heading_style{
	font-size: 51px;
    font-weight: 700;
    letter-spacing: 3px;
}
.home_page_side_heading_style-2
{
	font-size: 38px;
    font-weight: 700;
    letter-spacing: 3px;
}
.home_page_side_subheading_style
{
	padding-left: 5%;
    padding-top: 18px;
    font-size: 18px;
    color: #000;
    letter-spacing: 3px;
}
.home_small-below-title
{
	letter-spacing: 1px;
	padding-left: 10%;
}
#applicable{
	display: block;
	text-align: center;
	letter-spacing: 3px;
	padding-bottom: 9%;
	padding-top: 5%;
	font-weight: 600;
}
.home-btn
{
	display: inline-block;
	width: 200px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	border:1px solid #dd2377;
	background-color: #dd2377;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
.home-btn>a
{
	text-align: center;
	color: #fff;
	font-size: 14px;
	display:block;
	text-decoration: none;
}
.home-btn>a:hover
{
	text-decoration: none;
	cursor: pointer;
	color: #fff;
}
.btn-wrapper
{
	padding-top: 4%;
}
.find-out-btn
{
	display: inline-block;
	width: 70%;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 12px;
	padding-bottom: 12px;
	border:1px solid #dd2377;
	background-color: transparent;
	color: #000;
	border-radius: 5px;
	cursor: pointer;
}
.find-out-btn>a
{
	text-align: center;
	color: #000;
	font-size: 14px;
	display:block;
	text-decoration: none;
}
.find-out-btn>a:hover
{
    text-decoration: none;
	cursor: pointer;
	color: #000;
}
/*========= ================= END HOME PAGE STYLING =================== ============================ ==============*/.





/*========= ================= VIDEO MODAL STYLING =================== ============================ ==============*/.

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #000 !important;
    background-color: #000 !important;
}

/*========= ================= END VIDEO MODAL STYLING =================== ============================ ==============*/.



