body {
    padding-top: 30px;
}
body, p {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #555555;
}

h2{font-weight: bold; font-size:26px; padding-top:8px;}

p{font-size: 16px;}

/* ol.list-float { 
list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}
ol.list-float li{ display: block; }
ol.list-float li:before { content: counters(item, ".") " "; counter-increment: item; }

.list-float.list-title > li {
    font-weight: bold;
} */

ul{font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 16px}

ol.list-float {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 16px
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

ol.list-float > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}

ol.list-float > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
}

li ol.list-float > li {
    margin: 0;
}

li ol.list-float > li:before {
    content: counters(item, ".") " ";
}