/*===== Vertical Timeline =====*/
section#timeline {
  width: 80%;
  margin: 20px auto;
  position: relative;
}
section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 3px;
  height: 100%;
  background: white;
}
section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}
section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}
section#timeline article div.inner {
  width: 425px;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}
section#timeline article div.inner span.date {
  display: block;
  width: 15px;
  height: 10px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 481px;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: #ffffff;
  color: rgba(255,255,255,0.5);
  border: 2px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 0 7px #dd2377;
  top: 20px;
}
section#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}
section#timeline article div.inner span.date span.day {
  font-size: 10px;
}
section#timeline article div.inner span.date span.month {
  font-size: 18px;
}
section#timeline article div.inner span.date span.year {
  font-size: 10px;
}
section#timeline article div.inner h2 {
  padding: 5px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
    width: 10px; 
    height: 10px;
  -webkit-transform: rotate(-45deg);
}
/*section#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: #dd2377;
  color: #fff;
  border-radius: 0 0 6px 6px;
}*/
section#timeline article:nth-child(2n+2) div.inner {
  float: right;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}
section#timeline article:nth-child(1) div.inner h2 {
  background: #ffffff;
}
section#timeline article:nth-child(1) div.inner h2:after {
  background: #ffffff;
}
section#timeline article:nth-child(2) div.inner h2 {
  background: #ffffff;
}
section#timeline article:nth-child(2) div.inner h2:after {
  background: #ffffff;
}
section#timeline article:nth-child(3) div.inner h2 {
  background: #ffffff;
}
section#timeline article:nth-child(3) div.inner h2:after {
  background: #ffffff;
}
section#timeline article:nth-child(4) div.inner h2 {
  background: #ffffff;
}
section#timeline article:nth-child(4) div.inner h2:after {
  background: #ffffff;
}
section#timeline article:nth-child(5) div.inner h2 {
  background: #ffffff;
}
section#timeline article:nth-child(5) div.inner h2:after {
  background: #ffffff;
}
.TimeLineBox
{
  padding: 6px;
    margin: 0;
    font-size: 14px;
    background: #ffffff;
    color: #000000;
    border-radius: 0 0 6px 6px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heading-timeLine
{
  font-weight: 600;
}
/*===== // Resonsive Vertical Timeline =====*/