@media only screen and (max-width: 2960px) {
.leftwelcm__img {
    height: 707px;
}
.signin__form h1, .signup__form h1 {
    font-size: 26px;
}
.phell__txt {
    font-size: 17px;
}
.signin__form label.control-label, .form__iptsignup label.control-label {
    font-size: 16px;
}
.form__iptsignin input.form-control, .form__iptsignup input.form-control {
    font-size: 14px;
}
.frgt__pas a {
    font-size: 16px;
}
.signinbtn,.signinbtnfb, .signinbtngogl {
    font-size: 14px;
}
.or__txt {
    font-size: 15px;
}
.signupbtn {
    font-size: 14px;
}
.errorstyl {
    font-size: 14px;
}
.acc__txt {
    font-size: 16px;
}
.h6txt__wel {
    font-size: 17px;
}
.h5txtdelv {
    font-size: 21px;
}
.bus__succ, .retn__custtxt {
    font-size: 17px;
}
.or__span {
    font-size: 15px;
}
.redcircle {
    vertical-align: bottom;
}    
.delv__txt {
    font-size: 23px;
}
.txtwelcm__dets {
    left: 280px;
    top: 236px;
}
}

@media only screen and (max-width: 2048px) {
.leftwelcm__img {
    height: 566px;
}
.txtwelcm__dets {
    left: 162px;
    top: 163px;
}
.h5txtdelv {
    margin-bottom: 27px;
}
.signin__form h1, .signup__form h1 {
    font-size: 24px;
}
.phell__txt {
    font-size: 16px;
}
.signin__form label.control-label, .form__iptsignup label.control-label {
    font-size: 15px;
}
}


@media only screen and (max-width: 1920px) {
.delv__txt {
    font-size: 21px;
}
.phell__txt {
    font-size: 15px;
}
.signin__form h1, .signup__form h1 {
    font-size: 23px;
}
.signin__form label.control-label, .form__iptsignup label.control-label {
    font-size: 14px;
}
.leftwelcm__img {
    height: 530px;
}
.txtwelcm__dets {
    left: 145px;
    top: 150px;
}
.errorstyl {
    font-size: 13px;
}
.frgt__pas a {
    font-size: 15px;
}
}

@media only screen and (max-width: 1680px) {
.redcircle {
    vertical-align: middle;
}
.delv__txt {
    font-size: 18px;
}
.txtwelcm__dets {
    left: 89px;
    top: 121px;
}
.or__span {
    font-size: 14px;
}
.leftwelcm__img {
    height: 461px;
}
.phell__txt {
    font-size: 14px;
}
.or__txt {
    font-size: 14px;
}
.signin__form h1, .signup__form h1 {
    font-size: 22px;
}
.signinbtn, .signinbtnfb, .signinbtngogl {
    font-size: 13px;
}
.form__iptsignin input.form-control, .form__iptsignup input.form-control {
    font-size: 13px;
}
.delv__txt {
    font-size: 19px;
}
.acc__txt {
    font-size: 15px;
}
.or__span {
    font-size: 14px;
}
.signupbtn {
    font-size: 13px;
}
}



@media only screen and (max-width: 1600px) {
.leftwelcm__img {
    height: 439px;
}
.txtwelcm__dets {
    left: 70px;
    top: 122px;
}
.h5txtdelv {
    margin-bottom: 21px;
}
.h6txt__wel {
    font-size: 16px;
}
.h5txtdelv {
    font-size: 19px;
}
.bus__succ, .retn__custtxt {
    font-size: 16px;
}
}


@media only screen and (max-width: 1536px) {
.redcircle {
    vertical-align: bottom;
}
.txtwelcm__dets {
    left: 50px;
    top: 116px;
}
.delv__txt {
    font-size: 17px;
}
.leftwelcm__img {
    height: 426px;
}
}

@media only screen and (max-width: 1440px) {
.leftwelcm__img {
    height: 394px;
}
.frgt__pas a {
    font-size: 14px;
}
}

@media only screen and (max-width: 1366px) {
.leftwelcm__img {
    height: 375px;
}
.txtwelcm__dets {
    left: 37px;
    top: 101px;
}
.redcircle {
    vertical-align: middle;
}
.h6txt__wel {
    font-size: 14px;
}
.bus__succ, .retn__custtxt {
    font-size: 15px;
}
.h5txtdelv {
    font-size: 18px;
}
}


@media only screen and (max-width: 1344px) {
.frgt__pas a {
    font-size: 14px;
}
.leftwelcm__img {
    height: 369px;
}
.signin__form h1, .signup__form h1 {
    font-size: 20px;
}
.delv__txt {
    font-size: 16px;
}
.signinbtnfb img, .signinbtngogl img {
    height: 35px;
}
.signinbtnfb span, .signinbtngogl span {
    padding-top: 7px;
}
.soc__fb img {
    height: 35px;
}
}