active,.skip__styl:focusbody{
	font-family: 'Montserrat', sans-serif;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    url(MaterialIcons-Regular.woff2) format('woff2'),
    url(MaterialIcons-Regular.woff) format('woff'),
    url(MaterialIcons-Regular.ttf) format('truetype');
}
a:hover,a:active,a:focus{
	text-decoration: none;
	outline: none;
}
select.form-control:hover,select.form-control:active,select.form-control:focus,
input.form-control:hover,input.form-control:active,input.form-control:focus{
	outline: none;
	box-shadow: none;
}
.btn,.btn:active,.btn:focus,.btn:hover,.btn.active.focus,
.btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline: none;
	box-shadow:unset;
}
/* sign in */
.redcircle{
 width: 35px;
  height: 35px;
  background-color: #a42922;
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
}
.signinup__dets{
	text-align: right;
}
.delv__txt{
	font-weight: 800;
	color: #ef7622;
	padding-left: 20px;
}
.div__headsignin{
	padding-top: 20px;
	width: 93%;
	margin: 0 auto;
}
.acc__txt{
    color: #000000;
    font-size: 15px;
    margin-right: 3%;
}
.soc__fb img{
height: 40px;
}
.soc__gogl img{
height: 40px;
}
.or__span{
	color: #000000;
	font-weight: 600;
	padding-left: 10px;
	padding-right: 10px;
}
.signupbtn:hover,.signupbtn:active,.signupbtn:focus{
    background-image: linear-gradient(to right, #f8ae47, #ef7622);
    color: #ffffff;
}
.signinlogbtn:hover,.signinlogbtn:active,.signinlogbtn:focus{
	color: #ef7622;
}
.signinlogbtn{
border-radius: 20px;
border:1px solid #ef7622;
 background-color: #ffffff;
color: #ef7622;
 font-size: 13px;
 padding: 8px 38px;
 font-family: 'Montserrat', sans-serif;
 margin-right: 15px;
}
.signupbtn{
 border-radius: 20px;
 background-image: linear-gradient(to right, #f8ae47, #ef7622);
 color: #ffffff;
 font-size: 13px;
 padding: 8px 38px;
 font-family: 'Montserrat', sans-serif;
}
.leftimg__css{
	padding-left: 0px;
}
.txtwelcm__dets{
	text-align: center;
}
.form__iptsignin .form-group{
	margin-bottom: 8px;
}
.algnimg{
    position: relative;
    width: 90%;
    margin: auto 0 0 0;
    padding-top: 50px;
}
.leftwelcm__img{
    background-image: url(../images/signin/signin.png);
    background-size: cover;
    background-position: top center;
    height: 374px;
    background-repeat: no-repeat;
}
.txtwelcm__dets {
    position: absolute;
    left: 49px;
    top: 111px;
}
.h6txt__wel{
	color: #333333;
	font-size: 14px;
}
.h5txtdelv{
color: #ef7622;
font-size: 18px;
}
.bus__succ,.retn__custtxt{
	 color: #616161;
	 margin-bottom: 5px;
}
.sect__two{
	padding-top: 4%;
}
.signin__form h1,.signup__form h1{
font-size: 22px;
    color: #ef7622;
    margin-top: 0px;
    font-weight: normal;
    margin-bottom: 12px;
}
.phell__txt{
	color: #8e8e93;
	font-size: 14px;
	margin-bottom: 12px;
}
.signin__form label.control-label,.form__iptsignup label.control-label{
	color: #8782b5;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	display: block;
	text-align: left;
	margin-bottom: 7px;
	font-size: 14px;
	padding-top: 0px;
}
.form__iptsignin input.form-control,.form__iptsignup input.form-control{
  border-radius: 3px;
  border: solid 1px #e5e5ea;
  background-color: #fcfcff;
  outline: none;
  box-shadow: unset;
  font-size: 13px;
height: 40px;
  margin-bottom: 5px;
}
.form__iptsignin input.form-control:hover,
.form__iptsignin input.form-control:active,
.form__iptsignin input.form-control:focus,
.form__iptsignup input.form-control:hover,
.form__iptsignup input.form-control:active,
.form__iptsignup input.form-control:focus{
  outline: none;
  box-shadow: unset;
  border-color: #e5e5ea;
}
.form__iptsignin input.form-control::-webkit-input-placeholder,
.form__iptsignup input.form-control::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: #d1d1d6;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
.form__iptsignin input.form-control::-moz-placeholder,
.form__iptsignup input.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #d1d1d6;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
.form__iptsignin input.form-control:-ms-input-placeholder,
.form__iptsignup input.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #d1d1d6;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
.form__iptsignin input.form-control:-moz-placeholder,
.form__iptsignup input.form-control:-moz-placeholder { /* Firefox 18- */
  color: #d1d1d6;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
.pass__btneye {
    position: relative;
}
.btn-show-passtwo i.fa-eye {
    color: #acacac;
}
.btn-show-passtwo i.fa-eye-slash {
    color: #00a9ff;
}
.btn-show-passtwo {
    font-size: 15px;
    color: #999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: block;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.frgt__pas a{
	display: block;
	text-align: right;
	color: #007aff;
	margin-bottom: 10px;
}

.or__txt{
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
.imgman__succss{
	text-align: center;
}
.signinbtn{
  	border-radius: 25px;
    color: #ffffff;
    font-size: 13px;
    padding: 13px 33px;
    width: 100%;
	font-family: 'Montserrat', sans-serif;
  background-color: #ef7622;
}
.signinbtn:hover,.signinbtn:active,.signinbtn:focus{
	color: #fff;
}
.signinbtnfb,.signinbtngogl{
  	border-radius: 25px;
    color: #ffffff;
    font-size: 13px;
    padding: 4px 33px 4px 4px;
    width: 100%;
	font-family: 'Montserrat', sans-serif;
}
.signinbtnfb:hover,.signinbtnfb:active,.signinbtnfb:focus,
.signinbtngogl:hover,.signinbtngogl:active,.signinbtngogl:focus{
	color: #fff;
}
.signinbtnfb{
  background-color: #4c76be;
  margin-bottom: 10px;
}
.signinbtngogl{
	background-color: #4384f4;
}
.signinbtnfb img,.signinbtngogl img{
	height: 40px;
	float: left;
}
.signinbtnfb span, .signinbtngogl span {
    display: block;
    padding-top: 10px;
}
.signin__form{
width: 70%;
    margin: auto 0px 0px 30px;
}
/* sign in end */

/* sign up */
.imgarea__signup {
    width: 72%;
    margin: auto 0 0 50px;
    padding-top: 10%;
}
.topsect__signup{
	padding-top: 5%;
	padding-bottom: 3%;
}
.signup__form .form-group{
	margin-bottom: 10px;
}
.signup__form{
    width: 79%;
    margin: auto 0px 0px 21px;
}
.chkbx__agree{
	margin-bottom: 15px;
}
.img__signup{
    background-image: url(../images/signup/signup.png);
    background-size: cover;
    background-position: top center;
    height: 558px;
    background-repeat: no-repeat;
}
.pbasic__txt{
	color: #000000;
	font-size: 14px;
	margin-bottom: 12px;
}
.chkbx__agree label span{
 color: #5ac8fa;
}
.padrghtleft{
	padding-left: 0px;
	padding-right: 0px;
}
.customcheckoutlet {
    position: relative;
    padding-left: 33px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    color: #0090d8;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.customcheckoutlet .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #ffffff;
    border-radius: 0px;
    border: 1px solid #000000;
}
.customcheckoutlet input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.customcheckoutlet input:checked ~ .checkmark:after {
    display: block;
}
.chkbx__agree .checkbox label{
	padding-left: 36px;
}
.customcheckoutlet .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 11px;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* end of sign up */
/* sign up success */
.imgman__succss img{
	width: 30%;
}
.p1,.p2{
	 color: #000000;
	 font-size: 14px;
}
.p1{
	margin-bottom: 0px;
}
.p2{
	margin-bottom: 5px;
}
.success__section{
	padding-top: 6%;
}
.imgman__succss h1{
	color: #000000;
	font-size: 20px;
	margin-top: 25px;
	margin-bottom: 20px;
}
.cntr__signin{
	text-align: center;
	margin-top: 2%;
}
.signupbtnbig{
    border-radius: 20px;
  background-color: #ef7622;
    color: #ffffff;
    font-size: 13px;
    padding: 8px 98px;
    font-family: 'Montserrat', sans-serif;
}
.signupbtnbig:hover,.signupbtnbig:active,.signupbtnbig:focus{
	color: #fff;
}
/* end sign up success */

/* select category */
.afterlogin__catg ul{
	padding: 0px;
	list-style-type: none;
}
.midcontent__div{
	margin-bottom: 5%;
	margin-top: 5%;
}
.afterlogin__catg{
	text-align: right;
}
.afterlogin__catg ul li{
	margin-left: 20px;
}
.afterlogin__catg ul li a,.afterlogin__catg ul li a i{
	color: #000000;
}
.cat__headng{
	color: #333333;
	 font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.cat__headng span{
	display: block;
	line-height: 30px;
	font-size: 22px;
}
.dets__catg.active{
	border: solid 3px #007aff;
}
.count__ptxt.stepdonecss{
	background-color: #ffffff;
	color: #c14f00;
}
.count__ptxt.notfinish{
 border: solid 1px #979797;
  background-color: #d8d8d8;
  color: #000000;
  opacity: 0.5;
}
.hednh4__catg{
  color: #ef7622;
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.afterlogin__catg ul li{
	display: inline-block;
}
.dets__catg img{
	height: 90px;
}
.nms__steps {
    color: #8e8e93;
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.nms__steps span{
	display: block;
}
.count__ptxt,.dets__catg,.nms__steps{
	text-align: center;
}
.dets__catg{
	padding: 10px 10px 10px 10px;
}
.dets__catg p{
 color: #000000;
 font-size: 14px;
 margin-top: 10px;
}
.mrg__catbtm{
margin-bottom: 16px;
}
.count__ptxt{
    width: 41px;
    height: 41px;
    border: solid 1px #c14f00;
    background-color: #ef7622;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 40px;
    font-size: 15px;
    color: #fff;
}
.algnbtn__next{
	text-align: center;
}
.nextbtn__styl{
  border-radius: 24px;
  background-color: #ef7622;
  color: #fff;
  width: 90%;
  padding: 10px 10px;
  font-size: 16px;
}
.skip__styl{
	color: #8782b5;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	display: block;
	margin-top: 20px;
	font-size: 16px;
}
.skip__styl:hover,.skip__styl:active,.skip__styl:focus{
color: #8782b5;
}
.nextbtn__styl:hover,.nextbtn__styl:active,.nextbtn__styl:focus{
	color: #fff;
}
.selcatmrg__btm{
	margin-bottom: 7%;
}
.linkssteps__styl{
	text-align: center;
}
.linkssteps__styl a{
	display: inline-block;
}
.veh__dets select.form-control {
  color: #000000;
  font-weight: bold;
}
.veh__dets select.form-control,.veh__dets input.form-control {
  border-radius: 3px;
  border: solid 1px #e5e5ea;
  background-color: #fcfcff;
  height: 40px;
  box-shadow: none;
  font-family: 'Lato', sans-serif;
  margin-bottom: 5px;
 }
 .signup__form .intl-tel-input{
  margin-bottom: 5px;
 }
 .veh__dets label.control-label{
 	display: block;
 	color: #8782b5;
 	font-weight: bold;
 	font-family: 'Lato', sans-serif;
 }
.veh__dets select.form-control:hover,.veh__dets input.form-control:hover,
.veh__dets select.form-control:active,.veh__dets input.form-control:active,
.veh__dets select.form-control:focus,.veh__dets input.form-control:focus{
	border-color:#e5e5ea;
  background-color: #fcfcff;
}
.veh__dets select.form-control option {
 color: #8782b5;
 font-weight: bold;
}
.veh__dets input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d1d1d6;
  font-weight: bold;
}
.hednh4__catg span{
	display: block;
	line-height: 23px;
}
.veh__dets input.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #d1d1d6;
  font-weight: bold;
}
.veh__dets input.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #d1d1d6;
  font-weight: bold;
}
.veh__dets input.form-control:-moz-placeholder { /* Firefox 18- */
  color: #d1d1d6;
  font-weight: bold;
}
.errorstyl{
	color: red;
	display: block;
	font-size: 13px;
}
.veh__dets input.form-control.price{
	font-weight: bold;
	color: #000000;
}
.padrihgt__redc{
	padding-right: 0px;
}
.padleft__redc{
		padding-left: 0px;
}
#dropzone_one  {
  position: relative;
}
#dropzone_one img{
    vertical-align: middle;
    max-height: 150px;
    max-width: 150px;
    margin-bottom: 0px;
 border-radius: 3px;
    object-fit: contain;
}
.cover__img {
 border-radius: 3px;
  border: solid 1px #e5e5ea;
  background-color: #fcfcff;
}
#dropzone_one [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
      max-height: 150px;
    max-width: 150px;
}
.input-group.file__ip .form-control:focus {
    z-index: 1;
}
.input-group.file__ip{
	display: block;
}
.grp__btn .fileUpload.btn{
    padding: 0px 15px 0px 8px;
    cursor: pointer;
}
.input-group-btn.grp__btn{
vertical-align: top;
    height: 40px;
    position: absolute;
    right: 34px;
    top: -1px;
}
.veh__dets input.br__rghtremv.form-control{
    width: 100%;
    display: block;
    float: none;
}
.upl{
	font-size: 30px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/* end of select category section */

/* reset password */
.close__icon a,.close__icon a i{
	color: #000000;
	font-size: 20px;
}
.close__icon a i{
	vertical-align: middle;
}
.resettxt{
	color: #007aff;
	font-size: 16px;
    font-weight: bold;
    padding-left: 12px;
}
.resetacc__txt {
    color: #000000;
    font-size: 15px;
    margin-right: 3%;
}
.resetpasssigninup__dets{
	text-align: right;
}
.restsigninlogbtn:hover,.restsigninlogbtn:active,.restsigninlogbtn:focus{
	color: #ef7622;
}
.restsigninlogbtn{
border-radius: 20px;
    border: 1px solid #ef7622;
    background-color: #ffffff;
    color: #ef7622;
    font-size: 13px;
    padding: 8px 38px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 15px;
}
.reset__headr{
	padding: 15px 10px 15px 10px;
}
.midsec__resetpass label.control-label{
    color: #8782b5;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    display: block;
    text-align: left;
    margin-bottom: 7px;
    font-size: 14px;
    padding-top: 0px;
}
.form__resetpassfrm{
	width: 70%;
	margin: 0 auto;
}
.midsec__resetpass{
	margin-top: 4%;
}
.restbtnup{
	margin-top: 35px;
}
/* reset password end */
